<!doctype html>
{% from 'email_templates/styles.html' import a_style, h1_style, p_style %}
<html lang="cs">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <h1 style="{{ h1_style }}">
            PAT - Přijetí terapeutického vztahu</h1>
        <p style="{{ p_style }}">
            Dobrý den,
        </p>
        <p style="{{ p_style }}">
            klient {{ client.username }} přijal Vaši žádost o propojení.
        </p>
        <p style="{{ p_style }}">
            Bude se nyní zobrazovat ve Vašem seznamu klientů a budete mít přístup k jeho terapeutickým datům,
            dokud jedna ze stran tento vztah v aplikaci neukončí.
        </p>
        <p style="{{ p_style }}">
            Jménem uživatelské podpory PAT Vám přejeme zdárnou terapii.
        </p>
        {% include "email_templates/_signature.html" %}
    </body>
</html>
