<!doctype html>
{% from 'email_templates/styles.html' import a_style, a_style_as_button, h1_style, p_style %}
{% set alliance_end_url_with_message = url_for('client.break_alliance', token=token,
                                               send_message=True, _external=True) %}
{% set alliance_end_url_no_message = url_for('client.break_alliance', token=token,
                                             send_message=False, _external=True) %}
<html lang="cs">
    <head>
        <meta charset="utf-8">
<!--        <style> {# Workaround to use lower-alpha with brackets instead of dots #}-->
<!--            ol {-->
<!--                counter-reset: list;-->
<!--            }-->
<!--            ol > li {-->
<!--                list-style: none;-->
<!--                position: relative;-->
<!--            }-->
<!--            ol > li:before {-->
<!--                counter-increment: list;-->
<!--                content: counter(list, lower-alpha) ") ";-->
<!--                position: absolute;-->
<!--                left: -1.4em;-->
<!--            }-->
<!--        </style>-->
    </head>
    <body>
        <h1 style="{{ h1_style }}">
            PAT - Ukončení terapeutického vztahu</h1>
        <p style="{{ p_style }}">
            Dobrý den,
        </p>
        <p style="{{ p_style }}">
            na základě Vaší žádosti o ukončení terapeutického vztahu s terapeutem {{ therapist.username }}
            Vám zasíláme potvrzovací odkaz.
        </p>
        <p style="{{ p_style }}">
            Terapeut {{ therapist.username }} po potvrzení nebude moci vidět žádná Vaše data v aplikaci PAT
            a nebude Vás moci skrze ni nijak kontaktovat.
        </p>
        <p style="{{ p_style }}">
            Pokud tento krok neděláte na základě konzultace s Vaším terapeutem, doporučujeme s ním tento krok nejprve probrat.<br>
            Jestliže Vám něco nevyhovuje, dejte to v terapii najevo a Váš terapeut se jistě pokusí přizpůsobit, aby Vám pomohl.
        </p>
        <p style="{{ p_style }}">
            Pokud si přesto přejete terapeutický vztah ukončit, máte na výběr ze dvou možností:
        </p>
        <ol type="a">
            <li>ukončit vztah se zanecháním zprávy terapeutovi</li>
            <li>ukončit vztah bez zanechání zprávy</li>
        </ol>
        <p style="{{ p_style }}">
            Nerušíte-li propojení na základě konzultace, zvažte prosím zanechání zprávy terapeutovi.<br>
            Můžete zmínit např. proč od terapeuta odcházíte, co Vám v terapii vyhovovalo <br>
            či nevyhovovalo, případně jakýkoli jiný Váš komentář. Váš terapeut zpětnou vazbu jistě ocení.
        </p>
        <p style="{{ p_style }}">
            Pro ukončení vztahu se zanecháním zprávy terapeutovi klikněte na následující tlačítko:
        </p>
        <a href="{{ alliance_end_url_with_message }}"
           rel="noopener"
           style="{{ a_style_as_button }}"
           target="_blank">
            Ukončit vztah se zanecháním zprávy</a>
        <p style="{{ p_style }}">
            nebo vložte následující odkaz do adresního řádku Vašeho prohlížeče:<br></p>
        <p style="{{ p_style }}">
            <a href="{{ alliance_end_url_with_message }}"
               rel="noopener" style="{{ a_style }}" target="_blank">
            {{ alliance_end_url_with_message }}</a></p>
        <p style="{{ p_style }}">
            Pro ukončení vztahu bez zanechání zprávy terapeutovi klikněte na následující tlačítko:
        </p>
        <a href="{{ alliance_end_url_no_message }}"
           rel="noopener"
           style="{{ a_style_as_button }}"
           target="_blank">
            Ukončit vztah bez zanechání zprávy</a>
        <p style="{{ p_style }}">
            nebo vložte následující odkaz do adresního řádku Vašeho prohlížeče:<br></p>
        <p style="{{ p_style }}">
            <a href="{{ alliance_end_url_no_message }}"
               rel="noopener" style="{{ a_style }}" target="_blank">
            {{ alliance_end_url_no_message }}</a></p>
        <p style="{{ p_style }}">
            Z bezpečnostních důvodů je odkaz platný jen po dobu {{ token_expiration_string }}
            od odeslání žádosti o zrušení vztahu.
        </p>
        {% include "email_templates/_signature.html" %}
    </body>
</html>
