<!doctype html>
{% from 'email_templates/styles.html' import a_style, h1_style, p_style %}
<html lang="cs">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <h1 style="{{ h1_style }}">
            PAT - Ukončení terapeutického vztahu s klientem {{ client.username }}</h1>
        <p style="{{ p_style }}">
            Dobrý den,
        </p>
        <p style="{{ p_style }}">
            klient {{ client.username }} s Vámi dnes ukončil terapeutický vztah v naší aplikaci.
        </p>
        {% if message %}
        <p style="{{ p_style }}">
            Zanechal Vám zde následující vzkaz:
        </p>
        <p style="{{ p_style }}">
            """<br>
            {% set message_paragraphs = message.split('\n') %}  {# So that line breaks from original message are preserved #}
            {% for paragraph in message_paragraphs %}
                {{ paragraph }}<br>
            {% endfor %}
            """
        </p>
        {% else %}
        <p style="{{ p_style }}">
            Klient k tomuto kroku nezanechal žádné odůvodnění, a tak Vám zasíláme jen oznámení.
        </p>
        {% endif %}
        <p style="{{ p_style }}">
            Z důvodu ukončení vztahu Vám byl odebrán přístup k datům klienta
            a zároveň byl odebrán z Vašeho seznamu klientů.
        </p>
        <p style="{{ p_style }}">
            Tato zpráva je automatizovaná, neodpovídejte na ni prosím.
        </p>
        {% include "email_templates/_signature.html" %}
    </body>
</html>
