{% extends "core/base.html" %}
{% from "bootstrap/form.html" import render_form as render_wtform %}
{% from "core/macros.html" import init_modal_magic, init_table_magic %}

{% block app_content %}
    <h1>Úprava profilu</h1>
    <h2>Účet</h2>
    <div class="row">
        <div class="col-md-4">
            {{ render_wtform(form) }}
        </div>
    </div>
    <h2 class="pt-3">Změna hesla</h2>
    <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#confirm_password_change">
        Změnit heslo
    </button>
        {% call init_modal_magic(id="confirm_password_change", title="Změna hesla",
                                 close_label="Zrušit", confirm_label="Potvrdit žádost o změnu hesla",
                                 confirm_href=url_for('account.password_change_request') ) %}
            <p>
                Pro dokončení změny hesla Vám bude odeslán email s dalšími instrukcemi na Vaši emailovou adresu
                uvedenou při registraci. Přejete si pokračovat?
            </p>
        {% endcall %}
    {% if current_user.role == Role.Client %}
        <h2 class="pt-3">Propojení terapeuti</h2>
        {% if therapists %}
            <table class ="table table-hover" id="therapists">
                <thead>
                    <tr>
                        <th>Uživatelské jméno</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for therapist in therapists %}
                        {% include "client/_therapist.html" %}
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>
                Zde bude k dispozici seznam Vašich terapeutů, jimž jste dali přístup ke sdílení Vašich dat.
            </p>
            <p>
                Chcete-li začít sdílet data s Vaším terapeutem, požádejte jej o přidání Vašeho účtu.
                K přidání potřebuje pouze Váš email, pod kterým jste se zde registrovali.
            </p>
        {% endif %}
    {% endif %}
    <h2 class="pt-3">Smazání účtu</h2>
    <p>
        Tato akce je nevratná - veškerá Vaše data budou po dokončení trvale smazána, bez možnosti obnovy.
    </p>
    <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#confirm_self_destruct">
        Trvale smazat účet
    </button>
        {% call init_modal_magic(id="confirm_self_destruct", title="Trvalé smazání účtu",
                                 close_label="Zrušit", confirm_label="Potvrdit žádost o trvalé smazání účtu",
                                 confirm_href=url_for('account.self_destruct_request') ) %}
            <p>
                Pro dokončení smazání účtu Vám bude odeslán email s dalšími instrukcemi na Vaši emailovou adresu
                uvedenou při registraci.
            </p>
            {% if current_user.role == Role.Therapist %}
            <p>
                Váš účet bude následně odebrán ze všech propojení s klienty. K&nbsp;terapeutickým datům Vašich
                klientů ztratíte přístup a veškerá Vaše data v této aplikaci budou nevratně smazána.
                Klienti, s nimiž jste propojen/-a, budou o smazání Vašeho účtu notifikováni.
            </p>
            {% elif current_user.role == Role.Client %}
            <p>
                Váš účet bude následně odebrán ze všech propojení s terapeuty. Veškerá Vaše data v této aplikaci
                budou nevratně smazána. Terapeuti, s nimiž jste propojen/-a, budou o smazání Vašeho účtu notifikováni.
            </p>
            {% endif %}
            <p>
                Přejete si pokračovat?
            </p>
        {% endcall %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ init_table_magic(table_id="therapists",
                        columns=[None, None, None],
                        order=[[0, 'asc' ]],
                        ordering=False,
                        info=False,
                        length_change=False,
                        page_length=10,
                        paging_type="simple_numbers",
                        searching=False) }}
{% endblock %}
