{% extends "core/base.html" %}
{% from "bootstrap/form.html" import render_form as render_wtform %}

{% block app_content %}
    <h1>Přihlášení</h1>
    <div class="row">
        <div class="col-md-4">
            {{ render_wtform(form) }}
        </div>
    </div>
    <hr>
    <p><a href="{{ url_for('account.reset_password') }}">Obnovení zapomenutého hesla</a></p>
    <p>První návštěva? <a href="{{ url_for('account.register_path') }}">Zde se můžete registrovat.</a></p>
{% endblock %}
