{% extends "core/base.html" %}
{% from "bootstrap/form.html" import render_form as render_wtform %}

{% block app_content %}
    <h1>Jak začít</h1>
    <p>
        Zvolte, zda se chcete PAT využít jako klient či terapeut:
    </p>
    <div class="row">
        <div class="col">
            <div class="row">
                <a href="{{ url_for('core.client_intro') }}" class="btn btn-block btn-lg btn-outline-primary m-3 ">
                    Klient
                </a>
            </div>
        </div>
        <div class="col">
            <div class="row" >
                <a href="{{ url_for('core.therapist_intro') }}" class="btn btn-block btn-lg btn-outline-primary m-3">
                    Terapeut
                </a>
            </div>
        </div>
    </div>
{% endblock %}
