{% extends "core/base.html" %}

{% block app_content %}
    <h1>Účet uživatele {{ user.username }} smazán</h1>
    <p>
        Váš účet byl úspěšně smazán. Veškerá Vaše data byla odstraněna z naší databáze.
    </p>
    {% if user.role == Role.Client %}
        <p>
            Mrzí nás, že odcházíte a doufáme, že je Vám lépe.
        </p>
        <p>
            Jestliže cítíte jakékoli pochybnosti o svém stavu, nebo se stále necítíte
            dobře, zvažte prosím využití pomocných odkazů na této stránce.
        </p>
        <p>
            Pokud již s terapií končíte, doufáme, že jsme Vám pomohli,
            a přejeme Vám, ať se Vám daří co nejlépe.
        </p>
    {% elif user.role == Role.Therapist %}
        <p>
            Mrzí nás, že odcházíte a doufáme, že Vám PAT byla k užitku.
        </p>
    {% endif %}
{% endblock %}
