<!doctype html>
{% from 'email_templates/styles.html' import h1_style, p_style %}
<html lang="cs">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <h1 style="{{ h1_style }}">
            PAT - Smazání účtu klienta {{ client.username }}</h1>
        <p style="{{ p_style }}">
            Dobrý den,
        </p>
        <p style="{{ p_style }}">
            píšeme Vám, abychom Vám oznámili, že Váš klient {{ client.username }}
            dnes smazal svůj účet v aplikaci PAT.
        </p>
        <p style="{{ p_style }}">
            Klient tak byl odebrán z Vašeho seznamu klientů a jeho terapeutická data
            trvale smazána.
        </p>
        <p style="{{ p_style }}">
            Je-li pro Vás toto překvapením, zkuste klienta kontaktovat, zda byl tento krok záměrný.
        </p>
        <p style="{{ p_style }}">
            Tato zpráva je automatizovaná, neodpovídejte na ni prosím.
        </p>
        {% include "email_templates/_signature.html" %}
    </body>
</html>
