<!doctype html>
{% from 'email_templates/macros.html' import reason %}
{% from 'email_templates/styles.html' import a_style, a_style_as_button, h1_style, p_style %}
<html lang="cs">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <h1 style="{{ h1_style }}">
            PAT - {{ reason('Změna', 'Obnova', forgotten) }} hesla</h1>
        <p style="{{ p_style }}">
            Dobrý den,
        </p>
        <p style="{{ p_style }}">
            pro dokončení {{ reason('změny', 'obnovy', forgotten) }} Vašeho hesla
            klikněte na tlačítko níže
        </p>
        <a href="{{ url_for('account.change_password', token=token, _external=True) }}"
           rel="noopener"
           style="{{ a_style_as_button }}"
           target="_blank">
            {{ reason('Změnit', 'Obnovit', forgotten) }} heslo</a>
        <p style="{{ p_style }}">
            nebo vložte následující odkaz do adresního řádku Vašeho prohlížeče:<br>
        </p>
        <p style="{{ p_style }}">
            <a href="{{ url_for('account.change_password', token=token, _external=True) }}" rel="noopener"
               style="{{ a_style }}" target="_blank">
            {{ url_for('account.change_password', token=token, _external=True) }}</a>
        </p>
        <p style="{{ p_style }}">
            Z bezpečnostních důvodů je odkaz platný jen po dobu {{ token_expiration_string }} od odeslání
            žádosti o {{ reason('změnu.', 'obnovu.', forgotten) }}
        </p>
        {% include "email_templates/_signature.html" %}
    </body>
</html>
