<!doctype html>
{% from 'email_templates/styles.html' import a_style, a_style_as_button, a_style_as_warning_button,
    h1_style, p_style %}
{% set edit_profile_url = url_for('account.edit_profile', _external=True) %}
{% set self_destruct_url = url_for('account.self_destruct', token=token, _external=True) %}
<html lang="cs">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <h1 style="{{ h1_style }}">
            PAT - Žádost o smazání účtu</h1>
        <p style="{{ p_style }}">
            Dobrý den,
        </p>
        <p style="{{ p_style }}">
            tento email Vám zasíláme, protože jste požádal/-a o smazání všech Vašich dat v aplikaci PAT.
        </p>
        <p style="{{ p_style }}">
            Chtěli bychom zdůraznit, že zpětná obnova Vašich dat není možná. Budete-li chtít
            v budoucnu aplikaci opět používat, bude potřeba založit nový účet.
        </p>
        {% if user.role == Role.Client %}
            <p style="{{ p_style }}">
                Pokud jste tento krok nekonzultoval/-a se svým terapeutem, doporučujeme
                tuto konzultaci nejdříve provést.
            </p>
        {% elif user.role == Role.Therapist %}
            <p style="{{ p_style }}">
                Pokud jste tento krok nekonzultoval/-a se svými klienty, doporučujeme
                tuto konzultaci nejdříve provést.
            </p>
        {% endif %}
        <p style="{{ p_style }}">
            Pro nevratné smazání Vašeho účtu klikněte na tlačítko níže:
        </p>
        <a href="{{ self_destruct_url }}"
           rel="noopener"
           style="{{ a_style_as_warning_button }}"
           target="_blank">
            Trvale smazat účet</a>
        <p style="{{ p_style }}">
            nebo vložte následující odkaz do adresního řádku Vašeho prohlížeče:<br>
        </p>
        <p style="{{ p_style }}">
            <a href="{{ self_destruct_url }}" rel="noopener"
               style="{{ a_style }}" target="_blank">
            {{ self_destruct_url }}</a>
        </p>
        <p style="{{ p_style }}">
            Nepřejete-li si smazání účtu provést, doporučujeme tento email smazat.
        </p>
        <p style="{{ p_style }}">
            Jestliže jste žádost o smazání účtu nepodával/-a, je možné, že Vaše přihlašovací
            údaje byly kompromitovány. Zde si můžete změnit heslo:
        </p>
        <a href="{{ edit_profile_url }}"
           rel="noopener"
           style="{{ a_style_as_button }}"
           target="_blank">
            Úprava profilu</a>
        <p style="{{ p_style }}">
            Z bezpečnostních důvodů je odkaz pro smazání účtu platný jen po dobu {{ token_expiration_string }}
            od odeslání žádosti o smazání účtu.
        </p>
        {% include "email_templates/_signature.html" %}
    </body>
</html>
