<!doctype html>
{% from 'email_templates/styles.html' import a_style, h1_style, p_style %}
<html lang="cs">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <h1 style="{{ h1_style }}">
            PAT - Smazání účtu terapeuta {{ therapist.username }}</h1>
        <p style="{{ p_style }}">
            Dobrý den,
        </p>
        <p style="{{ p_style }}">
            píšeme Vám, abychom Vám oznámili, že Váš terapeut {{ therapist.username }}
            dnes smazal svůj účet v aplikaci PAT.
        </p>
        <p style="{{ p_style }}">
            Terapeut tak byl odebrán z Vašeho seznamu terapeutů a nemá nadále přístup k Vašim
            datům v aplikaci.
        </p>
        <p style="{{ p_style }}">
            Je-li pro Vás toto překvapením, zkuste terapeuta kontaktovat, zda byl tento krok záměrný.
        </p>
        {% if client.therapists.count() == 0 %}
            <<p style="{{ p_style }}">
                Nyní nejste propojen/-a s žádným terapeutem.
            </p>
            <p style="{{ p_style }}">
                Pokud se cítíte jakkoli v nepohodě, nebo máte pocit, že byste se svým stavem potřeboval/-a
                pomoci, zvažte prosím využití pomocných odkazů
                na <a href="{{ url_for('core.finding_help', _external=True) }}" style="{{ a_style}}">naší stránce.</a>
            </p>
        {% endif %}
        <p style="{{ p_style }}">
            Tato zpráva je automatizovaná, neodpovídejte na ni prosím.
        </p>
        {% include "email_templates/_signature.html" %}
    </body>
</html>
