{% extends "core/base.html" %}

{% block app_content %}
    <h1>Příliš požadavků na síť</h1>
    <p>
        Tuto stránku vidíte, protože Váš prohlížeč odeslal vysoké množství požadavků a server
        jej vyhodnotil jako potenciálního útočníka/robota.
    </p>
    <p>
        Toto se může stát, pokud byl z Vaší strany
        proveden nezvykle velký počet akcí v aplikaci, např. 10 vyplněných dotazníků za minutu
        nebo několik pokusů o přihlášení s nesprávným heslem.
    </p>
    <p>
        Pokud máte pocit, že se Vám tato stránka zobrazila při běžné aktivitě, kontaktujte nás prosím
        prostřednictvím <a href="{{ url_for('core.contact_user_support') }}">tohoto formuláře</a>
        a popište co nejpodrobněji, co jste v aplikaci dělal/-a před tím, než se tato chyba zobrazila.
    </p>
    <p>
        Děkujeme.
    </p>
    <p><a href="{{ url_for('core.index') }}">Zpět na domovskou stránku</a></p>
{% endblock %}
