{% extends "core/base.html" %}

{% block app_content %}
    <h1>Nastala neočekáváná chyba</h1>
    <p>Omlouváme se za případné nepříjemnosti, správce systému byl notifikován.</p>
    <p>Můžete zkusit předchozí akci zopakovat. Je však možné, že oprava potrvá nějakou dobu.</p>
    <p><a href="{{ url_for('core.index') }}">Zpátky domů</a></p>
{% endblock %}