<!doctype html>
{% from 'email_templates/styles.html' import a_style, a_style_as_button, h1_style, p_style %}
{% set confirm_url = url_for('client.accept_alliance', token=token, _external=True) %}
<html lang="cs">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <h1 style="{{ h1_style }}">
            PAT - Nabídka terapeutického vztahu</h1>
        <p style="{{ p_style }}">
            Dobrý den,
        </p>
        <p style="{{ p_style }}">
            terapeut {{ therapist.username }} s Vámi chce navázat terapeutický vztah v naší aplikaci.
        </p>
        <p style="{{ p_style }}">
            Navázáním terapeutického vztahu budou Vaše účty v aplikaci propojeny. Terapeut uvidí Vaše
            záznamy automatických myšlenek a výsledky Vašich testů. Po dobu propojení zároveň uvidí Vaši
            emailovou adresu. Toto propojení je možné kdykoliv zrušit v sekci 'Úprava profilu'.
        </p>
        <p style="{{ p_style }}">
            Nepoznáváte-li tohoto terapeuta, doporučujeme pozvání nepřijímat.
        </p>
        <p style="{{ p_style }}">
            Pro přijetí navázání terapeutického vztahu klikněte na tlačítko níže:
        </p>
        <a href="{{ confirm_url }}"
           rel="noopener"
           style="{{ a_style_as_button }}"
           target="_blank">
            Potvrdit propojení</a>
        <p style="{{ p_style }}">
            nebo vložte následující odkaz do adresního řádku Vašeho prohlížeče:<br></p>
        <p style="{{ p_style }}">
            <a href="{{ confirm_url }}"
               rel="noopener" style="{{ a_style }}" target="_blank">
            {{ confirm_url }}</a></p>
        <p style="{{ p_style }}">
            Z bezpečnostních důvodů je odkaz platný jen po dobu {{ token_expiration_string }}.
        </p>
        <p style="{{ p_style }}">
            Pokud si nepřejete navázání přijmout, doporučujeme tento email smazat.
        </p>
        <p style="{{ p_style }}">
            Tato zpráva je automatizovaná, neodpovídejte na ni prosím.
        </p>
        {% include "email_templates/_signature.html" %}
    </body>
</html>
