<!doctype html>
{% from 'email_templates/styles.html' import a_style, h1_style, p_style %}
<html lang="cs">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <h1 style="{{ h1_style }}">
            PAT - Ukončení terapeutického vztahu</h1>
        <p style="{{ p_style }}">
            Dobrý den,
        </p>
        <p style="{{ p_style }}">
            píšeme Vám, abychom Vám oznámili, že terapeut {{ therapist.username }} s Vámi
            dnes ukončil terapeutický vztah v naší aplikaci.
        </p>
        <p style="{{ p_style }}">
            Je-li pro Vás toto překvapením, zkuste terapeuta kontaktovat, zda byl tento krok záměrný.
        </p>
        <p style="{{ p_style }}">
            Cítíte-li se jakkoli v nepohodě, můžete navštívit naši stránku s odkazy na další pomoc na
            <a href="{{ url_for('core.finding_help', _external=True) }}" style="{{ a_style }}">této adrese.</a>
        </p>
        <p style="{{ p_style }}">
            Tato zpráva je automatizovaná, neodpovídejte na ni prosím.
        </p>
        {% include "email_templates/_signature.html" %}
    </body>
</html>
