{% extends "core/base.html" %}
{% from "core/macros.html" import highlight_active_pill %}

{% block app_content %}
<h1>Klient:
    <a href="{{ url_for('therapist.client_overview', public_id=client.public_id) }}">
        {{ client.username }}</a>
</h1>
<ul class="nav nav-pills">
    <li class="nav-item">
        {% set overview_url = url_for('therapist.client_overview', public_id=client.public_id) %}
        <a class="nav-link {{ highlight_active_pill(overview_url) }}" href="{{ overview_url }}">
            Celkový přehled</a>
    </li>
    <li class="nav-item">
        {% set thought_records_url = url_for('therapist.thought_record_browse', public_id=client.public_id) %}
        <a class="nav-link {{ highlight_active_pill(thought_records_url) }}" href="{{ thought_records_url }}">
            Záznamy myšlenek</a>
    </li>
    <li class="nav-item">
        {% set tests_url = url_for('therapist.test_browse', public_id=client.public_id) %}
        <a class="nav-link {{ highlight_active_pill(tests_url) }}" href="{{ tests_url }}">
            Vyplněné dotazníky</a>
    </li>
</ul>

{% block client_content %}
{% endblock client_content %}

{% endblock app_content %}

{% block scripts %}
    {{ super() }}
{% endblock %}
