{% extends "core/base.html" %}
{% from "bootstrap/form.html" import render_form as render_wtform %}

{% block app_content %}
    <h1>Přidat klienta do terapeutického vztahu</h1>
    <p>
        Pro přidání klienta je potřeba, aby již měl vytvořený klientský účet v PAT.
        V takovém případě po přidání obdrží na email pozvánku do terapeutického vztahu.
        Po jejím přijetí budete propojeni.
    </p>
    <div class="row">
        <div class="col-md-4">
            {{ render_wtform(form) }}
        </div>
    </div>
{% endblock %}
