{% extends "therapist/_therapist_view_base.html" %}
{% from "core/macros.html" import init_graph_magic, init_table_magic %}

{% block client_content %}
    <h2 class="mt-2">Graf vývoje</h2>
    {% if graphs %}
        {% for graph in graphs %}
            <div id="{{ graph['id'] }}"></div>
        {% endfor %}
    {% else %}
        <p>Zde bude k dispozici graf vývoje klienta na základě vyplněných testů.</p>
    {% endif %}
    <h2><a href="{{ url_for('therapist.test_browse', public_id=client.public_id) }}">
        Dotazníky</a></h2>
    {% if tests %}
        {% include "common/_test_history.html" %}
    {% else %}
        <p>Zde budou k dispozici výsledky vyplněných testů klienta, jakmile nějaké vyplní.</p>
    {% endif %}
    <h2 class="mt-4"><a href="{{ url_for('therapist.thought_record_browse', public_id=client.public_id) }}">
        Záznamy myšlenek</a></h2>
    {% if thought_records %}
        {% include "common/_thought_record_history.html" %}
    {% else %}
        <p>Zde budou k dispozici vyplněné záznamy myšlenek klienta, jakmile nějaké zapíše.</p>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ init_table_magic(table_id="thought_records",
                        columns=[ {'type': 'moment-timestamp'}, None, None, None, None, None ],
                        order=[[0, 'desc' ]],
                        paging_type="full_numbers") }}
    {{ init_table_magic(table_id="tests",
                        columns=[ {'type': 'moment-timestamp'}, None, None ],
                        order=[[0, 'desc' ]],
                        paging_type="full_numbers") }}
    {{ init_graph_magic(graphs=graphs) }}
{% endblock %}
