{% extends "core/base.html" %}
{% from "core/macros.html" import init_modal_magic, init_table_magic %}

{% block app_content %}
    <h1>Terapeut: {{ user.username }}</h1>
    <hr>
    <h2>Propojení klienti</h2>
    {% if clients %}
        <table class="table table-hover" id="clients">
            <thead>
                <tr valign="top">
                    <th>Uživatelské jméno</th>
                    <th>Email</th>
                    <th>Graf vývoje</th>
                    <th>Seznam dotazníků</th>
                    <th>Seznam záznamů myšlenek</th>
                    <th>Odpojit klienta</th>
                </tr>
            </thead>
            <tbody>
                {% for client in clients %}
                    <tr>
                        <td><a href="{{ url_for('therapist.client_overview', public_id=client.public_id) }}">
                            {{ client.username }}</a></td>
                        <td><a href="{{ url_for('therapist.client_overview', public_id=client.public_id) }}">
                            {{ client.email }}</a></td>
                        <td><a href="{{ url_for('therapist.client_overview', public_id=client.public_id) }}">
                            Graf</a></td>
                        <td><a href="{{ url_for('therapist.test_browse', public_id=client.public_id) }}">
                            Dotazníky</a></td>
                        <td><a href="{{ url_for('therapist.thought_record_browse',
                                                 public_id=client.public_id) }}">
                            Záznamy</a></td>
                        <td><button class="btn btn-link btn-anchor p-0 border-0 align-baseline" type="button"
                                    data-toggle="modal" data-target="{{ '#confirm_delete' + client.public_id }}">
                            Odpojit klienta
                        </button></td>
                            {% call init_modal_magic(id="confirm_delete" + client.public_id,
                                                     title="Zrušení terapeutického vztahu",
                                                     close_label="Zpět", confirm_label="Potvrdit ukončení vztahu",
                                                     confirm_href=url_for('therapist.remove_client',
                                                                          public_id=client.public_id) ) %}
                                <p>
                                    Pokračováním zrušíte propojení Vašeho účtu s klientem {{ client.username }}.
                                    Jeho/její data se tak pro Vás stanou nepřístupnými.
                                </p>
                                <p>
                                    Klient o ukončení propojení obdrží upozornění.
                                </p>
                                <p>
                                    Tento krok by měl být proveden pouze po jeho konzultaci s klientem.
                                </p>
                                <p>
                                    Přejete si pokračovat?
                                </p>
                            {% endcall %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
    <p>Zde bude k dispozici seznam Vašich klientů.</p>
    <p>Chcete-li začít spolupráci s prvním klientem,
        <a href="{{ url_for('therapist.add_client') }}">
            klikněte na tento odkaz.
        </a>
    </p>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ init_table_magic(table_id="clients",
                        columns=[ None,
                                  None,
                                  {'orderable': false},
                                  {'orderable': false},
                                  {'orderable': false},
                                  {'orderable': false}, ],
                        order=[[0, 'asc' ]],
                        info=False,
                        page_length=50,
                        paging_type="simple_numbers") }}
{% endblock %}
