{% extends "core/base.html" %}

{% block app_content %}
<h1>
    Návod k užívání PAT
</h1>
<ul class="nav nav-tabs" id="infoTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="client_detail-tab" data-toggle="tab" href="#client_detail"
           role="tab" aria-controls="client detail" aria-selected="true">
           Detail klienta
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="thought_records-tab" data-toggle="tab" href="#thought_records"
           role="tab" aria-controls="thought records" aria-selected="false">
            Záznamy automatických myšlenek
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="tests-tab" data-toggle="tab" href="#tests"
           role="tab" aria-controls="tests" aria-selected="false">
            Dotazníky
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="therapeutic_alliance-tab" data-toggle="tab" href="#therapeutic_alliance"
           role="tab" aria-controls="therapeutic alliance" aria-selected="false">
            Terapeutická aliance
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="edit_profile-tab" data-toggle="tab" href="#edit_profile"
           role="tab" aria-controls="edit_profile" aria-selected="false">
            Úprava účtu
        </a>
    </li>
</ul>
<div class="tab-content" id="infoTabContent">
    <div class="tab-pane fade show active responsive-tab" id="client_detail" role="tabpanel" aria-labelledby="client_detail-tab">
        <div class="card-header responsive-accord" role="tab" aria-expanded="false" aria-controls="client_detail">
                <a href="#collapse-client_detail" data-toggle="collapse">
                    <h5 class="mb-0">
                        Detail klienta
                    </h5>
                </a>
        </div>
        <div id="collapse-client_detail" class="collapse" role="tabpanel">
            <h3>
                Umístění
            </h3>
            <p>
                V sekci <a href="{{ url_for('therapist.list_of_clients') }}">Seznam klientů</a>. Kliknutím
                na jméno či email klienta se zobrazí jeho detail.
            </p>
            <h3>
                Obsah a ovládání
            </h3>
            <p>
                Momentálně je v přehledu dostupný graf vývoje stavu klienta, výsledky testů
                a záznamy automatických myšlenek.
            </p>
            <p>
                Ovládání těchto prvků je blíže popsáno v jejich odpovídajících záložkách na této stránce.
            </p>
        </div>
    </div>
    <div class="tab-pane fade responsive-tab" id="thought_records" role="tabpanel" aria-labelledby="thought_records-tab">
        <div class="card-header responsive-accord" role="tab" aria-expanded="false" aria-controls="thought_records">
                <a href="#collapse-thought_records" data-toggle="collapse">
                    <h5 class="mb-0">
                        Záznamy automatických myšlenek
                    </h5>
                </a>
        </div>
        <div id="collapse-thought_records" class="collapse" role="tabpanel">
            <h3>
                Umístění
            </h3>
            <p>
                Dostupné v detailu klienta, případně lze prokliknout přímo
                v <a href="{{ url_for('therapist.list_of_clients') }}">Seznamu klientů.</a>
            </p>
            <h3>
                Vyhledávání a třídění záznamů
            </h3>
            <p>
                V přehledu záznamů myšlenek lze vyhledávat užitím pole 'Vyhledat' v pravém horním rohu přehledu.
                Vyhledání není potřeba potvrzovat žádnou klávesou, probíhá v reálném čase během psaní.
                Vyhledávání prochází všechna pole záznamu myšlenky, lze vyhledat i konkrétní datum nebo čas.
                Čas nebo datum je nutno zadat ve stejném formátu jako je v jednotlivých záznamech.
            </p>
            <p>
                Záznamy je možno řadit podle data poklepáním na šipky vedle nadpisu 'Čas'. Výchozí řazení je sestupné
                podle času - nejvýše jsou nové myšlenky.
            </p>
            <p>
                Záznamy lze řadit i dle ostatních polí - toho lze využít pro nalezení nedokončených záznamů. Pokud
                například kliknete na nadpis 'Výsledek', aby se záznamy seřadily vzestupně podle tohoto pole
                (napravo od nadpisu 'Výsledek' bude začerněna šipka směřujíc vzhůru), seřadí se na vrcholu
                přehledu všechny záznamy, jež nemají vyplněno pole 'Výsledek'.
            </p>
            <h3>
                Ze strany klienta
            </h3>
            <p>
                Klient může vytvořit libovolný počet záznamů za den. Záznamy lze libovolně upravovat a mazat.
                Vyhledávání a řazení záznamů má u klientů stejnou funkcionalitu jako máte ve svém zobrazení
                klientových záznamů.
            </p>
        </div>
    </div>
    <div class="tab-pane fade responsive-tab" id="tests" role="tabpanel" aria-labelledby="tests-tab">
        <div class="card-header responsive-accord" role="tab" aria-expanded="false" aria-controls="tests">
                <a href="#collapse-tests" data-toggle="collapse">
                    <h5 class="mb-0">
                        Dotazníky
                    </h5>
                </a>
            </div>
        <div id="collapse-tests" class="collapse" role="tabpanel">
            <h3>
                Umístění
            </h3>
            <p>
                Dostupné v detailu klienta, případně lze prokliknout přímo
                v <a href="{{ url_for('therapist.list_of_clients') }}">Seznamu klientů.</a>
            </p>
            <h3>
                Přehled vyplněných testů
            </h3>
            <p>
                V přehledu vyplněných testů je možno vyhledávat a řadit podobně jako v přehledu záznamů myšlenek.
            </p>
            <h3>
                Graf vývoje
            </h3>
            <p>
                Tento graf zobrazuje vývoj hrubého skóru testu v čase.
            </p>
            <p>
                V grafu je možné libovolné úseky přiblížit/oddálit kolečkem myši. Pro návrat do výchozího zobrazení
                lze dvakrát poklepat na graf nebo kliknout na malou ikonku domečku v pravém horním rohu grafu.
            </p>
            <h3>
                Ze strany klienta
            </h3>
            <p>
                Není uvedena žádná doporučená frekvence testů - ponecháno na Vaše zvážení a konzultaci s klientem.
                Počet vyplněných testů není pro klienty nijak omezen. Klienti mohou výsledek vyplněného testu smazat.
            </p>
            <p>
                Graf vývoje a jeho ovládání je u klientů identické s tím, jaké máte na detailu klienta.
            </p>
        </div>
    </div>
    <div class="tab-pane fade responsive-tab" id="therapeutic_alliance" role="tabpanel" aria-labelledby="therapeutic_alliance-tab">
        <div class="card-header responsive-accord" role="tab" aria-expanded="false" aria-controls="therapeutic_alliance">
                <a href="#collapse-therapeutic_alliance" data-toggle="collapse">
                    <h5 class="mb-0">
                        Terapeutická aliance
                    </h5>
                </a>
            </div>
        <div id="collapse-therapeutic_alliance" class="collapse" role="tabpanel">
            <h3>
                Terapeutický vztah
            </h3>
            <p>
                Terapeutický vztah zde označuje propojení účtu klienta s účtem terapeuta. Svůj účet můžete propojit
                s libovolným počtem klientů.
            </p>
            <p>
                Též klient může navázat vztah s více terapeuty současně - např. pro případ, že se kombinovaně léčí
                u psychiatra i psychoterapeuta.
            </p>
            <h3>
                Jak vznikne a co znamená
            </h3>
            <p>
                Pro vytvoření tohoto propojení je potřeba, aby klient měl v PAT vytvořený účet. Následně lze z Vašeho
                terapeutického účtu odeslat žádost o propojení prostřednictvím <a href="{{ url_for('therapist.add_client') }}">
                tohoto formuláře</a> (je dostupný i z hlavní nabídky). Klient obdrží email s potvrzovacím odkazem,
                jehož použitím (= navštívením odkazu v internetovém prohlížeči) se vytvoření vztahu potvrdí.
            </p>
            <p>
                Komplikovanost tohoto procesu je primárně dána snahou o vyšší zabezpečení dat klientů. Oproti např.
                sociálním sítím, kde lze účty propojit přímo v aplikaci, zde klient propojením udělí přístup k podstatně
                intimnějším datům. Byl proto zvolen email jako další vrstva zabezpečení - případný útočník
                by k získání citlivých dat musel prolomit nejen účet klienta v PAT, ale i jeho email.
            </p>
            <p>
                Po dobu propojení budete mít přístup ke všem terapeutickým datům klienta - vyplněným záznamům myšlenek,
                výsledkům testů a grafu vývoje. Po dobu propojení klient v PAT uvidí Vaši emailovou adresu.
            </p>
            <h3>
                Ukončení vztahu
            </h3>
            <p>
                Terapeutický vztah můžete ukončit Vy i Váš klient. Pokud byste si přál/-a vztah ukončit,
                lze tak učinit v sekci <a href="{{ url_for('account.edit_profile') }}">Upravit profil.</a>
            </p>
            <p>
                Prosíme o včasnou konzultaci a připravení klientů na tento krok.
            </p>
            <p>
                Pokud by naopak klient ukončil propojení s Vámi, bude Vám odesláno upozornění na email.
            </p>
            <p>
                Dále vztah může zaniknout pokud byste Vy nebo Váš klient dokončil žádost o smazání účtu.
                V takovém případě bude propojení ukončeno a protistrana bude o tomto stavu upozorněna.
            </p>
        </div>
    </div>
    <div class="tab-pane fade responsive-tab" id="edit_profile" role="tabpanel" aria-labelledby="edit_profile-tab">
        <div class="card-header responsive-accord" role="tab" aria-expanded="false" aria-controls="edit_profile">
                <a href="#collapse-edit_profile" data-toggle="collapse">
                    <h5 class="mb-0">
                        Úprava účtu
                    </h5>
                </a>
            </div>
        <div id="collapse-edit_profile" class="collapse" role="tabpanel">
            <h3>
                Umístění
            </h3>
            <p>
                Všechny zde uvedené úkony lze provést v sekci
                <a href="{{ url_for('account.edit_profile') }}">Upravit profil.</a>
            </p>
            <h3>
                Uživatelské jméno
            </h3>
            <p>
                Své uživatelské jméno můžete kdykoliv změnit.
                Pod tímto jménem Vás vidí klienti, se kterými jste v terapeutickém vztahu.
            </p>
            <h3>
                Změna hesla
            </h3>
            <p>
                Pro změnu hesla je z bezpečnostních důvodů nutné mít přístup na email, s nímž jste se v PAT
                registroval/-a. Po odeslání žádosti o změnu v sekci
                <a href="{{ url_for('account.edit_profile') }}">Upravit profil</a>
                Vám bude na tento email odeslán potvrzovací odkaz. Ten Vás přesměruje na formulář k vytvoření
                nového hesla.
            </p>
            <h3>
                Smazání účtu
            </h3>
            <p>
                Smazání účtu je nevratná záležitost s okamžitou platností. Po odeslání žádosti Vám na email uvedený
                při registraci přijde potvrzovací odkaz. Použitím tohoto odkazu bude Váš účet a všechna Vaše data
                s ním spojená trvale smazána.
            </p>
            <p>
                Pokud byste si smazání účtu po odeslání žádosti rozmyslel/-a je tak možno pouze před použitím
                potvrzovacího odkazu. V takovém případě doporučujeme email s odkazem z bezpečnostních důvodů smazat.
                Po užití odkazu již obnova účtu není možná.
            </p>
        </div>
    </div>
</div>
{% endblock %}
