{% extends "therapist/_therapist_view_base.html" %}
{% from "core/macros.html" import init_table_magic %}

{% block client_content %}
    <h2>Přehled vyplněných testů</h2>
    {% if tests %}
        {% include "common/_test_history.html" %}
    {% else %}
        <p>Zde budou k dispozici výsledky jednotlivých testů klienta.</p>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ init_table_magic(table_id="tests",
                        columns=[ {'type': 'moment-timestamp'}, None, None ],
                        order=[[0, 'desc' ]],
                        paging_type="full_numbers") }}
{% endblock %}
