<table class ="table table-hover table-striped table-bordered" id="tests">
    <thead>
        <tr>
            <th>Vyplněn</th>
            {% if current_user.role == Role.Therapist %}
            <th>Test</th>
            {% endif %}
            <th>Hrubý skór</th>
            {% if current_user.role == Role.Client %}
            <th>Možnosti</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for test in tests %}
            {% include 'common/_test.html' %}
        {% endfor %}
    </tbody>
</table>
