{% from "core/macros.html" import init_modal_magic, render_timestamp with context %}
<tr>
    <td>{{ render_timestamp(test.timestamp) }}</td>
    {% if current_user.role == Role.Therapist %}
    <td>{{ test.test }}</td>
    {% endif %}
    <td>{{ test.raw_score() }}</td>
    {% if current_user.role == Role.Client %}
    <td><button class="btn btn-secondary" type="button" data-toggle="modal"
                data-target="{{ '#confirm_delete' + test.id|string }}">
        Smazat test
    </button></td>
        {% call init_modal_magic("confirm_delete" + test.id|string, None, "Zrušit", "Trvale smazat",
                                 url_for('client.delete_test', id=test.id) ) %}
            <p>
                Potvrzením trvale smažete tento vyplněný dotazník z historie účtu. Přejete si pokračovat?
            </p>
        {% endcall %}
    {% endif %}
</tr>
