<table class="table table-hover table-striped" id="thought_records">
        <thead>
            <tr>
                <th>Čas</th>
                <th>Situace</th>
                <th>Automatické myšlenky</th>
                <th>Emoce</th>
                <th>Prospěšná odpověď</th>
                <th>Výsledek</th>
                {% if current_user.role == Role.Client %}
                <th class="invisible"></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for thought_record in thought_records %}
                {% include 'common/_thought_record.html' %}
            {% endfor %}
        </tbody>
</table>
