{% from "core/macros.html" import init_modal_magic, render_timestamp with context %}
<tr>
    <td><time datetime="{{ thought_record.timestamp }}"> {{ render_timestamp(thought_record.timestamp) }}</time></td>
    <td>{{ thought_record.situation }}</td>
    <td>{{ thought_record.automatic_thoughts }}</td>
    <td>{{ thought_record.emotions }}</td>
    <td>{{ thought_record.alternative_thoughts }}</td>
    <td>{{ thought_record.result }}</td>
    {% if current_user.role == Role.Client %}
    <td class="align-middle invisible border-0">
        <a href="{{ url_for('client.edit_thought_record', id=thought_record.id, next=request.path) }}">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                 stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit">
                <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
                <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
            </svg>
        </a>
        <hr>
        <a href="" data-toggle="modal"
                data-target="{{ '#confirm_delete' + thought_record.id|string }}">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                 stroke-linecap="round" stroke-linejoin="round" class="feather feather-delete">
                <path d="M21 4H8l-7 8 7 8h13a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2z"></path>
                <line x1="18" y1="9" x2="12" y2="15"></line>
                <line x1="12" y1="9" x2="18" y2="15"></line>
            </svg>
        </a>
    </td>
    {% call init_modal_magic("confirm_delete" + thought_record.id|string, None, "Zrušit", "Smazat",
                             url_for('client.delete_thought_record', id=thought_record.id, next=request.path)) %}
        <p>
            Opravdu si přejete smazat tento záznam z {{ render_timestamp(thought_record.timestamp) }}?
        </p>
    {% endcall %}
    {% endif %}
</tr>
