{% if request.url_rule.endpoint == 'client.thought_record_browse' %}
{% extends "core/base.html" %}
{% set table_columns = [ {'type': 'moment-timestamp'}, None, None, None, None, None, {'orderable': false} ] %}
{% elif request.url_rule.endpoint == 'therapist.thought_record_browse' %}
{% extends "therapist/_therapist_view_base.html" %}
{% set table_columns = [ {'type': 'moment-timestamp'}, None, None, None, None, None ] %}
{% endif %}

{% from "core/macros.html" import init_table_magic %}

{% block app_content %}
    {% if request.url_rule.endpoint == 'therapist.thought_record_browse' %}
        {{ super() }}
    {% endif %}
    <h1>Přehled záznamů myšlenek</h1>
    {% if thought_records %}
        {% include "common/_thought_record_history.html" %}
    {% else %}
        <p>Zde budou k dispozici vyplněné záznamy myšlenek.</p>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ init_table_magic(table_id="thought_records",
                        columns=table_columns,
                        order=[[0, 'desc' ]],
                        paging_type="full_numbers") }}
{% endblock %}
