{% from "core/macros.html" import init_modal_magic %}
<tr>
    <td>{{ therapist.username }}</td>
    <td>{{ therapist.email }}</td>
    <td><button class="btn btn-link btn=anchor" type="button" data-toggle="modal"
                data-target="{{ '#confirm_break_alliance' + therapist.public_id }}"
                style="padding: 0;border: 0;vertical-align: baseline;"> {# Temporary until css restructuralization #}
        Zrušit propojení
    </button></td>
        {% call init_modal_magic(id="confirm_break_alliance" + therapist.public_id,
                                 title="Ukončení terapeutického vztahu",
                                 close_label="Zpět", confirm_label="Potvrdit ukončení vztahu",
                                 confirm_href=url_for('client.break_alliance_request',
                                                      public_id=therapist.public_id) ) %}
            <p>
                Pokračováním podáte žádost o zrušení propojení Vašeho účtu s terapeutem {{ therapist.username }}.
                Po jejím dokončení pak tento terapeut nebude mít přístupná žádná data o Vašem stavu na tomto serveru.
                Přejete si pokračovat?
            </p>
        {% endcall %}
</tr>
