<h2>Co dál</h2>
<p>
    Nyní nejste propojen/-a s žádným terapeutem.
</p>
<p>
    Jestliže cítíte jakékoli pochybnosti o svém stavu, nebo se stále necítíte
    dobře, zvažte prosím vyhledání další pomoci. Pomoci mohou například odkazy
    na <a href="{{ url_for('core.finding_help') }}">této stránce</a>.
</p>
<p>
    Pokud již s terapií končíte, doufáme, že jsme Vám pomohli,
    a přejeme Vám, ať se Vám daří co nejlépe.
</p>
