{% extends "core/base.html" %}
{% from "bootstrap/form.html" import render_form as render_wtform %}

{% block app_content %}
    <h1>Ukončení propojení s terapeutem {{ therapist.username }}</h1>
    <p>
        Vaše propojení s terapeutem {{ therapist.username }} bude ukončeno odesláním zprávy,
        kterou můžete sepsat ve formuláři pod tímto odstavcem.
    </p>
    <p>
        Pokud si budete přát ukončit propojení bez odeslání zprávy, můžete tak učinit kliknutím
        na odkaz pod formulářem.
    </p>
    <p>
        Pokud jste si situaci rozmyslel/-a a již nechcete propojení zrušit, stačí opustit
        tuto stránku například <a href="{{ url_for('core.index') }}">kliknutím zde</a>.
    </p>
    {{ render_wtform(form) }}
    <hr>
    <a href="{{ url_for('client.break_alliance', token=token, send_message=False) }}">
        Ukončit vztah bez odeslání zprávy
    </a>
{% endblock %}
