{% extends "core/base.html" %}
{% from "bootstrap/form.html" import render_form as render_wtform %}

{% block app_content %}
    <h1>Propojení s terapeutem {{ therapist.username }} zrušeno</h1>
    <p>
        Vaše propojení s terapeutem {{ therapist.username }} bylo úspěšně zrušeno.
    </p>
    {% if client.therapists.count() == 0 %}
        {% include "client/_zero_therapists_farewell.html" %}
    {% endif %}
{% endblock %}
