{% extends "core/base.html" %}

{% block app_content %}
    <h1>Propojení s terapeutem {{ therapist.username }} úspěšné</h1>
    <p>
        Vaše propojení s terapeutem {{ therapist.username }} bylo úspěšně zahájeno.
    </p>
    <p>
        Nyní můžete PAT používat naplno. Zkonzultujte s Vaším terapeutem, jak PAT v terapii
        vhodně využít a můžete začít.
    </p>
    <p>
        Přejeme Vám mnoho sil a zdárnou terapii.
    </p>
{% endblock %}
