{% extends "core/base.html" %}

{% block app_content %}
<h1>
    Návod k užívání PAT
</h1>
<ul class="nav nav-tabs" id="infoTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="thought_records-tab" data-toggle="tab" href="#thought_records"
           role="tab" aria-controls="thought records" aria-selected="true">
            Záznamy automatických myšlenek
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="tests-tab" data-toggle="tab" href="#tests"
           role="tab" aria-controls="tests" aria-selected="false">
            Dotazníky
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="therapeutic_alliance-tab" data-toggle="tab" href="#therapeutic_alliance"
           role="tab" aria-controls="therapeutic alliance" aria-selected="false">
            Terapeutická aliance
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="edit_profile-tab" data-toggle="tab" href="#edit_profile"
           role="tab" aria-controls="edit_profile" aria-selected="false">
            Úprava účtu
        </a>
    </li>
</ul>
<div class="tab-content" id="infoTabContent">
    <div class="tab-pane fade show active responsive-tab" id="thought_records" role="tabpanel" aria-labelledby="thought_records-tab">
        <div class="card-header responsive-accord" role="tab" aria-expanded="false" aria-controls="thought_records">
                <a href="#collapse-thought_records" data-toggle="collapse">
                    <h5 class="mb-0">
                        Záznamy automatických myšlenek
                    </h5>
                </a>
            </div>
        <div id="collapse-thought_records" class="collapse" role="tabpanel">
            <h3>
                Umístění
            </h3>
            <p>
                Všechny zde uvedené úkony lze provést v sekci
                <a href="{{ url_for('client.thought_record_overview') }}">Záznamy myšlenek.</a>
            </p>
            <h3>
                Vytvoření nového záznamu
            </h3>
            <p>
                Nový záznam lze vytvořit kliknutím na tlačítko 'Nový záznam'. Všechna pole jsou pro Vaše pohodlí
                volitelná, s výjimkou času. Je to proto, abyste mohl/-a uložit nedokončený záznam a později ho
                upravit. Záznamy doporučujeme dokončit, případně postup konzultovat s terapeutem.
            <p>
                Prázdný záznam uložit nelze.
            </p>
            <h3>
                Úprava a smazání záznamu
            </h3>
            <p>
                Záznam můžete kdykoliv upravit, a to jak v
                <a href="{{ url_for('client.thought_record_overview') }}">Nedávných záznamech</a>, tak v
                <a href="{{ url_for('client.thought_record_browse') }}">Přehledu záznamů,</a> najetím myši
                na daný záznam – v pravém okraji záznamu se pak objeví dvě tlačítka: horní pro úpravu záznamu,
                dolní pro smazání. Na zařízeních s dotykovým ovládáním se tlačítka zobrazí po klepnutí na daný záznam.
            </p>
            <h3>
                Vyhledávání a řazení záznamů
            </h3>
            <p>
                V <a href="{{ url_for('client.thought_record_browse') }}">Přehledu záznamů myšlenek</a> lze vyhledávat
                užitím pole 'Vyhledat' v pravém horním rohu přehledu. Vyhledání není potřeba potvrzovat žádnou klávesou,
                probíhá v reálném čase během psaní. Vyhledávání prochází všechna pole záznamu myšlenky, lze vyhledat
                i konkrétní datum nebo čas. Čas nebo datum je nutno zadat ve stejném formátu jako je v jednotlivých záznamech.
            </p>
            <p>
                Záznamy je možno řadit podle data poklepáním na šipky vedle nadpisu 'Čas'. Výchozí řazení je sestupné
                podle času – nejvýše jsou nové myšlenky.
            </p>
            <p>
                Záznamy lze řadit i dle ostatních polí – toho lze využít pro nalezení nedokončených záznamů. Pokud
                například kliknete na nadpis 'Výsledek', aby se záznamy seřadily vzestupně podle tohoto pole
                (napravo od nadpisu 'Výsledek' bude začerněna šipka směřujíc vzhůru), seřadí se na vrcholu
                přehledu všechny záznamy, jež nemají vyplněno pole 'Výsledek'.
            </p>
        </div>
    </div>
    <div class="tab-pane fade responsive-tab" id="tests" role="tabpanel" aria-labelledby="tests-tab">
        <div class="card-header responsive-accord" role="tab" aria-expanded="false" aria-controls="tests">
                <a href="#collapse-tests" data-toggle="collapse">
                    <h5 class="mb-0">
                        Dotazníky
                    </h5>
                </a>
            </div>
        <div id="collapse-tests" class="collapse" role="tabpanel">
            <h3>
                Umístění
            </h3>
            <p>
                Všechny zde uvedené úkony lze provést v sekci
                <a href="{{ url_for('client.test_overview') }}">Dotazníky.</a>
            </p>
            <h3>
                Vyplnění nového dotazníku
            </h3>
            <p>
                Dotazník lze vyplnit kliknutím na tlačítko 'Nový dotazník'. Následně postupujte podle instrukcí dotazníku.
                Po odeslání dotazníku bude provedeno základní vyhodnocení. Na základě výsledků však prosíme
                nikdy nedělejte závěry a konzultujte je nejdříve s Vaším terapeutem.
            </p>
            <h3>
                Smazání výsledku dotazníku
            </h3>
            <p>
                Pokud máte pocit, že jste se v dotazníku překlikl/-a nebo došlo k nějaké chybě, můžete daný dotazníků
                smazat kliknutím na tlačítko 'Smazat test' v seznamu testů.
            </p>
            <p>
                Mazání výsledků dotazníků obecně není doporučováno. Každý výsledek může být nějak přínosný
                a doporučujeme každé případné mazání nejprve konzultovat s terapeutem – může se např. stát, že Váš
                pocit potřeby smazat výsledek dotazníku nepochází z Vás, ale z nějakého projevu depresivního onemocnění.
            </p>
            <h3>
                Graf vývoje
            </h3>
            <p>
                Tento graf umožňuje hrubý náhled, jak se Váš stav mohl měnit v čase. Tento graf je jen orientační a
                nelze na základě něj dělat konkrétní závěry. Interpretaci nejdříve konzultujte s Vaším terapeutem.
            </p>
            <p>
                V grafu je možné libovolné úseky přiblížit/oddálit kolečkem myši. Pro návrat do výchozího zobrazení
                lze dvakrát poklepat na graf nebo kliknout na malou ikonku domečku v pravém horním rohu grafu.
            </p>
            <h3>
                Jak často dotazníky vyplňovat
            </h3>
            <p>
                Frekvenci vyplňování dotazníků konzultujte s Vaším terapeutem. Doporučená doba se může lišit
                podle stavu a specifik konkrétního depresivního onemocnění.
            </p>
        </div>
    </div>
    <div class="tab-pane fade responsive-tab" id="therapeutic_alliance" role="tabpanel" aria-labelledby="therapeutic_alliance-tab">
        <div class="card-header responsive-accord" role="tab" aria-expanded="false" aria-controls="therapeutic_alliance">
                <a href="#collapse-therapeutic_alliance" data-toggle="collapse">
                    <h5 class="mb-0">
                        Terapeutická aliance
                    </h5>
                </a>
            </div>
        <div id="collapse-therapeutic_alliance" class="collapse" role="tabpanel">
            <h3>
                Terapeutický vztah
            </h3>
            <p>
                Terapeutický vztah zde označuje propojení účtu klienta s účtem terapeuta.
                Je možno navázat vztah s více terapeuty současně – u některých případů depresivního onemocnění je
                běžná spolupráce psychiatra s psychoterapeutem. V takovém případě pak můžete svůj účet propojit
                s oběma.
            </p>
            <h3>
                Jak vznikne a co znamená
            </h3>
            <p>
                Na jednom z terapeutických sezení Vám Váš terapeut pravděpodobně PAT představil a pomohl vytvořit
                účet. Propojení vznikne tak, že terapeut nejprve v PAT podá žádost o projení s Vaším účtem.
                Vám následně přijde na email, jež jste použil/-a při registraci, zpráva o této žádosti a potvrzovacím
                odkazem. Použitím tohoto odkazu se Vaše účty propojí.
            </p>
            <p>
                Terapeut tak bude mít po dobu Vašeho propojení přístup k Vašim terapeutickým datům – vyplněným
                záznamům myšlenek, výsledkům testů a grafu vývoje. Po dobu propojení uvidí v PAT i Vaši emailovou
                adresu.
            </p>
            <h3>
                Ukončení vztahu
            </h3>
            <p>
                Terapeutický vztah můžete ukončit Vy i Váš terapeut. Pokud byste si přál/-a vztah ukončit,
                lze tak učinit v sekci <a href="{{ url_for('account.edit_profile') }}">Upravit profil.</a>
            </p>
            <p>
                Pokud by naopak terapeut ukončil propojení s Vámi, bude Vám odesláno upozornění na email.
            </p>
            <p>
                Dále vztah může zaniknout pokud byste Vy nebo Váš terapeut dokončil žádost o smazání účtu.
                V takovém případě bude propojení ukončeno a protistrana bude o tomto stavu upozorněna.
            </p>
        </div>
    </div>
    <div class="tab-pane fade responsive-tab" id="edit_profile" role="tabpanel" aria-labelledby="edit_profile-tab">
        <div class="card-header responsive-accord" role="tab" aria-expanded="false" aria-controls="edit_profile">
                <a href="#collapse-edit_profile" data-toggle="collapse">
                    <h5 class="mb-0">
                        Úprava účtu
                    </h5>
                </a>
            </div>
        <div id="collapse-edit_profile" class="collapse" role="tabpanel">
            <h3>
                Umístění
            </h3>
            <p>
                Všechny zde uvedené úkony lze provést v sekci
                <a href="{{ url_for('account.edit_profile') }}">Upravit profil.</a>
            </p>
            <h3>
                Uživatelské jméno
            </h3>
            <p>
                Své uživatelské jméno můžete kdykoliv změnit.
                Pod tímto jménem Vás vidí terapeuté, se kterými jste v terapeutickém vztahu.
            </p>
            <h3>
                Změna hesla
            </h3>
            <p>
                Pro změnu hesla je z bezpečnostních důvodů nutné mít přístup na email, s nímž jste se v PAT
                registroval/-a. Po odeslání žádosti o změnu v sekci
                <a href="{{ url_for('account.edit_profile') }}">Upravit profil</a>
                Vám bude na tento email odeslán potvrzovací odkaz. Ten Vás přesměruje na formulář k vytvoření
                nového hesla.
            </p>
            <h3>
                Seznam propojených terapeutů
            </h3>
            <p>
                Zde je k dispozici seznam terapeutů se kterými jste v PAT vstoupil/-a do terapeutického vztahu.
                Prostřednictvím tohoto seznamu je možno propojení s konkrétním terapeutem ukončit.
            </p>
            <h3>
                Smazání účtu
            </h3>
            <p>
                Smazání účtu je nevratná záležitost s okamžitou platností. Po odeslání žádosti Vám na email uvedený
                při registraci přijde potvrzovací odkaz. Použitím tohoto odkazu bude Váš účet a všechna Vaše data
                s ním spojená trvale smazána.
            </p>
            <p>
                Pokud byste si smazání účtu po odeslání žádosti rozmyslel/-a je tak možno pouze před použitím
                potvrzovacího odkazu. V takovém případě doporučujeme email s odkazem z bezpečnostních důvodů smazat.
                Po užití odkazu již obnova účtu není možná.
            </p>
        </div>
    </div>
</div>
{% endblock %}
