{% extends "core/base.html" %}
{% from "core/macros.html" import init_graph_magic, init_table_magic %}
{% set new_test_label = "Nový dotazník" %}

{% block app_content %}
    <h1>Dotazníky</h1>
    <a class="btn btn-primary mb-3" href="{{ url_for('client.take_test', test_id='CESD-R') }}" role="button">
         {{ new_test_label }}
    </a>

    <h2>Graf vývoje</h2>
    {% if graphs %}
        {% for graph in graphs %}
                <div id="{{ graph['id'] }}"></div>
        {% endfor %}
    {% else %}
        <p>Zde bude k dispozici zobrazení vývoje Vašeho stavu na základě Vašich vyplněných dotazníků.</p>
    {% endif %}
    <h2>Historie vyplněných dotazníků</h2>
    {% if tests %}
        {% include "common/_test_history.html" %}
    {% else %}
        <p>
            Zde bude k dispozici krátké shrnutí Vašich vyplněných dotazníků. Pro vyplnění prvního dotazníku klikněte
            na tlačítko '{{ new_test_label }}' výše.
        </p>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ init_table_magic(table_id="tests",
                        columns=[ {'type': 'moment-timestamp'}, None, {'orderable': false, 'searchable': false} ],
                        order=[[0, 'desc' ]],
                        paging_type="full_numbers") }}
    {{ init_graph_magic(graphs=graphs) }}
{% endblock %}
