{% extends "core/base.html" %}
{% from "core/macros.html" import init_table_magic %}

{% block app_content %}
    <h1>Záznamy myšlenek</h1>
    <a class="btn btn-primary" href="{{ url_for('client.new_thought_record') }}" role="button">
         Nový záznam
    </a>
    <h2 class="mt-3">Nedávné záznamy</h2>
    {% if thought_records %}
        <a href="{{ url_for('client.thought_record_browse') }}">Přejít na zobrazení všech záznamů</a>
        {% include "common/_thought_record_history.html" %}
    {% else %}
        <p>Zde budou k dispozici vyplněné záznamy myšlenek.</p>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ init_table_magic(table_id="thought_records",
                        columns=[ {'type': 'moment-timestamp'}, None, None, None, None, None, {'orderable': false} ],
                        order=[[0, 'desc' ]],
                        info=False,
                        length_change=False,
                        ordering=False,
                        paging=False,
                        searching=False) }}
{% endblock %}
