<!doctype html>
{% from 'email_templates/macros.html' import render_message %}
{% from 'email_templates/styles.html' import a_style, h1_style, p_style %}
<html lang="cs">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <h1 style="{{ h1_style }}">
            {{ subject }}
        </h1>
        <p style="{{ p_style }}">
            Ahoj,
        </p>
        <p style="{{ p_style }}">
            skrze kontaktní formulář byla přijata následující zpráva:
        </p>

        {{ render_message(message) }}

        {% if reply_email %}
        <p style="{{ p_style }}">
            Uživatel zanechal tuto adresu pro odpověď: {{ reply_email }}.
        </p>
        {% else %}
        <p style="{{ p_style }}">
            Uživatel nezanechal žádnou adresu pro odpověď.
        </p>
        {% endif %}
        <p style="{{ p_style }}">
            S přáním hezkého dne, <br>
            <strong>PAT</strong>
        </p>
        <p style="{{ p_style }} font-style: italic;">
            Drak? Kde by se tady vzal drak?
        </p>
        <p style="{{ p_style }}">
        <a href="{{ url_for('core.index', _external=True) }}" rel="noopener"
           style="{{ a_style }}" target="_blank">
            {{ url_for('core.index', _external=True) }}</a>
        </p>
    </body>
</html>
