{% from 'core/macros.html' import highlight_active %}
<footer class="footer mt-auto py-3">
    <div class="container text-right">
        <small>
            <a class="{{ highlight_active('core.about') }}" href="{{ url_for('core.about') }}">
                O aplikaci
            </a>
            <a class="{{ highlight_active('core.privacy') }}" href="{{ url_for('core.privacy') }}">
                Soukromí
            </a>
            <a class="{{ highlight_active('core.licence') }}" href="{{ url_for('core.licence') }}">
                Licence
            </a>
            <a class="{{ highlight_active('core.contact_user_support') }}"
               href="{{ url_for('core.contact_user_support') }}">
                Kontakt
            </a>
        </small>
        <br>
        <small class="text-muted">&copy;PAT, 2020</small>
    </div>
</footer>
