<h1>
    Úvodní stránka
</h1>
<h2>
    Vítejte v PAT
</h2>
<p>
    PAT má k dispozici několik modulů, z nichž si můžete vybrat níže:
</p>
<div class="row card-deck mb-2">
    <div class="col-md">
        <div class="card text-center">
            <a href="{{ url_for('client.thought_record_overview') }}" class="btn btn-outline-primary">
                <div class="card-body">
                    <h3>Záznamy myšlenek</h3>
                    <p class="card-text">
                        Vytváření záznamů automatických myšlenek, jejich správa a vyhledávání v nich
                    </p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md">
        <div class="card text-center">
            <a href="{{ url_for('client.test_overview') }}" class="btn btn-outline-primary">
                <div class="card-body">
                    <h3>Dotazníky</h3>
                    <p class="card-text">
                        Vyplnění nového dotazníku, sledování vývoje stavu a správa vyplněných dotazníků
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="row card-deck">
    <div class="col-md">
        <div class="card text-center">
            <a href="{{ url_for('core.psychoeducational_materials') }}" class="btn btn-outline-primary">
                <div class="card-body">
                    <h3>
                        Psychoedukační materiály
                    </h3>
                    <p class="card-text">
                        Doplňující informace k depresivnímu onemocnění a léčbě
                    </p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md">
        <div class="card text-center">
            <a href="{{ url_for('client.manual') }}" class="btn btn-outline-primary">
                <div class="card-body">
                    <h3>
                        Jak PAT použít
                    </h3>
                    <p class="card-text">
                        Návod a vysvětlení jednotlivých funkcí PAT
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>
