<h1>
    Úvodní stránka
</h1>
<h2>
    Vítejte v PAT
</h2>
<p>
    PAT má k dispozici několik modulů, z nichž si můžete vybrat níže:
</p>
<div class="row card-deck mb-2">
    <div class="col-md">
        <div class="card text-center">
            <a href="{{ url_for('therapist.list_of_clients') }}" class="btn btn-outline-primary">
                <div class="card-body">
                    <h3>
                        Seznam klientů
                    </h3>
                    <p class="card-text">
                        Přehled jednotlivých klientů a jejich správa
                    </p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md">
        <div class="card text-center">
            <a href="{{ url_for('therapist.add_client') }}" class="btn btn-outline-primary">
                <div class="card-body">
                    <h3>
                        Přidat klienta
                    </h3>
                    <p class="card-text">
                        Odeslání žádosti o propojení
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="row card-deck">
    <div class="col-md">
        <div class="card text-center">
            <a href="{{ url_for('core.psychological_background') }}" class="btn btn-outline-primary">
                <div class="card-body">
                    <h3>
                         Psychologické pozadí PAT
                    </h3>
                    <p class="card-text">
                        Doplňující informace k užitým materiálům a principu
                    </p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md">
        <div class="card text-center">
            <a href="{{ url_for('therapist.manual') }}" class="btn btn-outline-primary">
                <div class="card-body">
                    <h3>
                        Jak PAT použít
                    </h3>
                    <p class="card-text">
                        Návod a vysvětlení jednotlivých funkcí PAT
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>
