<nav aria-label="Aktuální stránka">
    <div class="pagination row">
        <div class="col-6 text-left">
            <div class="page-item btn btn-outline">
                <a class="page-link btn previous{% if not prev_url %} disabled{% endif %}" href="{{ prev_url or '#' }}"
                   aria-label="Předchozí">
                    <span aria-hidden="true">
                        <svg class="bi bi-chevron-left" width="1em" height="1em"
                             viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M13.354 3.646a.5.5 0 010 .708L7.707 10l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z"
                                  clip-rule="evenodd"/>
                        </svg>
                    </span>Předchozí
                </a>
            </div>
        </div>
        <div class="col-6 text-right">
            <div class="page-item btn btn-outline">
                <a class="page-link btn next{% if not next_url %} disabled{% endif %}" href="{{ next_url or '#' }}"
                   aria-label="Další">
                    Další <span aria-hidden="true">
                            <svg class="bi bi-chevron-right" width="1em" height="1em"
                                 viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"
                                      clip-rule="evenodd"/>
                            </svg>
                    </span>
                </a>
            </div>
        </div>
    </div>
</nav>