{% extends "core/base.html" %}

{% block app_content %}
    <h2>
        O PAT
    </h2>
    <h3>
        Vznik a budoucí směřování
    </h3>
    <p>
        PAT vznikla jako bakalářská práce na Univerzitě Palackého. Jejím autorem je bývalý psycholog,
        který zběhl k programování a tvorbě počítačových aplikací.
    </p>
    <p>
        PAT momentálně čeká na svou obhajobu v roce 2020. Po obhajobě je v plánu s PAT pokračovat jako
        s volnočasovým projektem - dokud bude pomáhat alespoň jednomu člověku, budu jako autor spokojený.
    </p>
    <h3>
        Poděkování
    </h3>
    <p>
        Velké poděkování patří všem stranám, bez kterých by PAT nevznikla:
    </p>
    <ul>
        <li>všem psychoterapeutům, kteří pomáhali/pomáhají s vývojem</li>
        <li>všem, kdo se podíleli/podílejí na testování PAT</li>
        <li>komunitě Pythonu a Flasku, na jejichž softwarovém základu PAT stojí</li>
        <li><a href="https://getbootstrap.com/">Bootstrap</a></li>
        <li><a href="https://github.com/feathericons/feather">Feathericons</a></li>
        <li><a href="https://github.com/primer/octicons">Octicons</a></li>
    </ul>
{% endblock %}
