<!doctype html>
{% from 'core/macros.html' import highlight_active %}
<html lang="cs">
    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        {% block styles %}
            {{ bootstrap.load_css() }}
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/cr-1.5.2/fh-3.1.6/r-2.2.3/sc-2.0.1/sp-1.0.1/datatables.min.css"/>
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='core.css') }}"/>
        {% endblock styles %}

        <title>
        {% if title %}
            PAT - {{ title }}
        {% else %}
            PAT
        {% endif %}
        </title>

        {% endblock head %}
    </head>
    <body>
        {% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3" aria-label="Hlavní">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('core.index') }}">PAT</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Zobrazit navigaci">
            <span>☰</span>
        </button>

        <div class="collapse navbar-collapse text-center" id="navbarContent">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item {{ highlight_active('core.index') }}">
                    <a class="nav-link" href="{{ url_for('core.index') }}">
                        <svg class="img-fluid" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="20" height="20">
                            <path fill-rule="evenodd" d="M16 9l-3-3V2h-2v2L8 1 0 9h2l1 5c0 .55.45 1 1 1h8c.55 0 1-.45 1-1l1-5h2zm-4 5H9v-4H7v4H4L2.81 7.69 8 2.5l5.19 5.19L12 14z"></path>
                        </svg>
                    </a>
                </li>
                {% if current_user.is_authenticated %}
                    {% if current_user.role == Role.Therapist %}
                        <li class="nav-item
                            {{ highlight_active('therapist.list_of_clients') }}">
                            <a href="{{ url_for('therapist.list_of_clients') }}" class="nav-link">Seznam klientů</a>
                        </li>
                        <li class="nav-item
                            {{ highlight_active('therapist.add_client') }}">
                            <a href="{{ url_for('therapist.add_client') }}" class="nav-link">Přidat klienta</a>
                        </li>
                        <li class="nav-item
                            {{ highlight_active('core.psychological_background') }}">
                            <a href="{{ url_for('core.psychological_background') }}" class="nav-link">Informace pro terapeuty</a>
                        </li>
                    {% elif current_user.role == Role.Client %}
                        <li class="nav-item
                            {{ highlight_active('client.thought_record_overview') }}">
                            <a href="{{ url_for('client.thought_record_overview') }}" class="nav-link">Záznamy myšlenek</a>
                        </li>
                        <li class="nav-item
                            {{ highlight_active('client.test_overview') }}">
                            <a href="{{ url_for('client.test_overview') }}" class="nav-link">Dotazníky</a>
                        </li>
                        <li class="nav-item
                            {{ highlight_active('core.psychoeducational_materials') }}">
                            <a href="{{ url_for('core.psychoeducational_materials') }}" class="nav-link">Materiály</a>
                        </li>
                    {% endif %}
            {% endif %}
            </ul>
            <ul class="nav navbar-nav ml-auto">
                {% if current_user.is_authenticated %}
                    {% if current_user.role == Role.Therapist %}
                    <li class="nav-item
                        {{ highlight_active('therapist.manual') }}">
                        <a href="{{ url_for('therapist.manual') }}" class="nav-link">Návod</a>
                    </li>
                    {% elif current_user.role == Role.Client %}
                    <li class="nav-item
                        {{ highlight_active('client.manual') }}">
                        <a href="{{ url_for('client.manual') }}" class="nav-link">Návod</a>
                    </li>
                    {% endif %}
                    <li class="nav-item
                        {{ highlight_active('account.edit_profile') }}">
                        <a href="{{ url_for('account.edit_profile') }}" class="nav-link">Upravit profil</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('account.logout') }}" class="nav-link">Odhlásit</a>
                    </li>
                {% else %}
                    <li class="nav-item
                        {{ highlight_active('account.login') }}">
                        <a href="{{ url_for('account.login') }}"
                           class="nav-link btn ">Přihlásit se</a>
                    </li>
                    <li class="nav-item {{ 'active bg-primary rounded'
                                                if request.url_rule|safe != url_for('account.register_path')
                                                and request.url_rule|safe != url_for('account.login' ) }}
                                {{ highlight_active('account.register_path') }}">
                        <a href="{{ url_for('account.register_path') }}"
                           class="nav-link ">Jak začít</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
        {% endblock %}

        {% block content %}
            <div class="container">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-info" role="alert">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                {% block app_content %}{% endblock %}
            </div>
        {% endblock %}

        {% block footer %}
            {% include 'core/_footer.html' %}
        {% endblock %}

        {% block scripts %}
            {{ bootstrap.load_js() }}
            {{ moment.include_moment() }}
            {{ moment.locale(auto_detect=True) }}
        {% endblock %}
    </body>
</html>
