{% extends "core/base.html" %}

{% block app_content %}
<h1>
    Úvod pro klienty
</h1>
<div class="row">
    <div class="col-md">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
                Nejsem zde na doporučení psychoterapeuta
            </h5>
            <p>
                Využijte našich informačních materiálů dle libosti, ale chtěli bychom
                varovat před užíváním terapeutického obsahu pro přihlášené uživatele -
                PAT není určena pro samoléčbu a podobně jako některé léky, její užívání
                bez odborného dohledu může Váš stav spíše zhoršit nežli zlepšit.
            </p>
            <p>
                Chcete-li se dozvědět více o počítačem asistované terapii, o depresivním onemocnění
                nebo hledáte-li přímou pomoc s psychickými obtížemi, můžete začít například zde:
            </p>
            <div class="row justify-content-center">
                <a href="{{ url_for('core.psychoeducational_materials') }}" class="btn btn-secondary mx-auto">
                    Edukativní informace
                </a>
                <a href="{{ url_for('core.finding_help') }}" class="btn btn-primary mx-auto">
                    Odkazy na pomoc
                </a>
            </div>
          </div>
        </div>
    </div>
    <div class="col-md">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
                Přišel/-a jsem na doporučení svého psychoterapeuta
            </h5>
            <p>
                Pokud s Vámi psychoterapeut užití PAT konzultoval, můžete pokračovat rovnou
                k registraci.
            </p>
            <div class="row justify-content-center">
                <a href="{{ url_for('account.register_client') }}" class="btn btn-primary">
                    Registrovat se
                </a>
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock %}
