{% extends "core/base.html" %}
{% from "bootstrap/form.html" import render_form as render_wtform %}

{% block app_content %}
    <h1>Kontaktování uživatelské podpory</h1>
    <p>
        V případě, že jste narazil/-a na nějaký problém během užívání aplikace,
        nebo chcete podat zpětnou vazbu, můžete využít tento formulář.
    </p>
    <p>
        Tento formulář neslouží k vyhledávání/poskytování terapeutické pomoci.
        Pro tyto účely prosíme použijte odkazy v sekci
        <a href="{{ url_for('core.finding_help') }}">Vyhledání pomoci</a>.
    </p>
    <div class="row">
        <div class="col-md-4">
            {{ render_wtform(form) }}
        </div>
    </div>
{% endblock %}
