{% extends "core/base.html" %}
{% from "core/macros.html" import init_table_magic %}

{% block app_content %}
    <h1>Vyhledání pomoci</h1>
    <p>
        Pro vyhledání terapeuta můžeme doporučit portál <a href="https://www.znamylekar.cz/">Známý lékař</a>. Můžete zde
        vyfiltrovat psychoterapeuta podle místa ordinace a referencí ostatních klientů.
    </p>
    <p>
        Hledáte-li akutní pomoc, nebo pokud máte pocit, že psychoterapeut pro Vás momentálně není nejvhodnější
        volbou, můžeme dále doporučit podrobný seznam dalších forem pomoci od portálu
        <a href="https://nevypustdusi.cz/kde-hledat-pomoc/">Nevypusť duši</a>.
    </p>
{% endblock %}
