{% extends "core/base.html" %}

{% block app_content %}
    {% if current_user.is_authenticated %}
        {% if current_user.role == Role.Therapist %}
            {% include 'core/_index_therapist.html' %}
        {% elif current_user.role == Role.Client %}
            {% include 'core/_index_client.html' %}
        {% else %}
            <h1>
                Chyba v nastavení uživatele
            </h1>
            <p>
                Omlouváme se, ale nastala neočekávaná chyba. Kontaktujte nás prosím prostřednictvím
                <a href="{{ url_for('core.contact_user_support') }}">tohoto formuláře</a>
                a zprávě popište, co jste v PAT dělal/-a před zobrazením této chyby.
            </p>
        {% endif %}
    {% else %}
    <h1>
        Vítejte v aplikaci PAT
    </h1>
    <h2>
        O aplikaci
    </h2>
    <p>
        PAT je aplikace zaměřená na doplnění běžné psychoterapie. Klade si za cíl usnadnit a zpříjemnit
        plnění některých terapeutických "domácích úkolů", zprostředkovat možnost sledování vývoje léčby
        a dobrovolné sdílení dat s vybraným terapeutem.
    </p>
    <p>
        Aplikace neslouží jako náhrada psychoterapeutické léčby a měla by být užívána jen na základě
        spolupráce se školeným terapeutem.
    </p>
    <h2>
        Jak začít
    </h2>
    <p>
        Zvolte, zda chcete PAT využít jako klient nebo jako terapeut:
    </p>
    <div class="row">
        <div class="col">
            <div class="row">
                <a href="{{ url_for('core.client_intro') }}" class="btn btn-block btn-lg btn-outline-primary m-3 ">Klient</a>
            </div>
        </div>
        <div class="col">
            <div class="row" >
                <a href="{{ url_for('core.therapist_intro') }}" class="btn btn-block btn-lg btn-outline-primary m-3">Terapeut</a>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
