{% extends "core/base.html" %}

{% block app_content %}
    <h1>
        Licence
    </h1>
    <p>
        PAT je licencována pod licencí Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International
        (CC BY-NC-SA 4.0).
    </p>
    <p>
        Její zkrácené i plné znění jsou k dispozici
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.cs" >zde.</a>
    </p>
{% endblock %}
