{% macro init_graph_magic(graphs) %}
    <script src="{{ url_for('static', filename='core/plotly/plotly-latest.min.js') }}"></script>
    <script src="{{ url_for('static', filename='core/plotly/plotly-locale-cs-custom.js') }}"></script>
    <script type="text/javascript">Plotly.setPlotConfig({locale: 'cs-CZ'})</script>
    <script type="text/javascript">
        var graphs = {{ graphs|tojson }};

        for(var i in graphs) {
            Plotly.plot(graphs[i].id,
                        graphs[i].data,
                        graphs[i].layout || {},
                        {
                             scrollZoom: true,
                             modeBarButtonsToRemove: [
                                                          'toImage',
                                                          'hoverCompareCartesian',
                                                          'hoverClosestCartesian',
                                                          'autoScale2d',
                                                          'lasso2d',
                                                          'select2d',
                                                          'toggleSpikelines'
                                                     ],
                             displaylogo: false
                         },
                        );
                    }
    </script>
{% endmacro %}

{% macro init_modal_magic(id, title, close_label, confirm_label, confirm_href) %}
    <div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          {% if title %}
              <div class="modal-header">
                <h5 class="modal-title" id="modal-title">{{ title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
          {% endif %}
          <div class="modal-body" style="{{ 'margin-top: 0.5em;' if not title else None }}"> {# To style the top better #}
            {{ caller() }} {# Processes everything inside of the calling call block #}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ close_label }}</button>
            <a href="{{ confirm_href }}" type="button" class="btn btn-primary">{{ confirm_label }}</a>
          </div>
        </div>
      </div>
    </div>
{% endmacro %}

{% macro init_table_magic(table_id, columns=None, order=[[0, 'asc']], info=True, length_change=True,
                          ordering=True, page_length=10, paging=True, paging_type="simple_numbers",
                          searching=True) %}
    <script type="text/javascript"
                src="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/cr-1.5.2/fh-3.1.6/r-2.2.3/sc-2.0.1/sp-1.0.1/datatables.min.js"></script>
        <script>$(document).ready( function () {
        $.fn.dataTableExt.ofnSearch['moment-timestamp'] = function(value) {
            return $("<time/>").html(value).text();  // else the search function would match html attributes as well,
        };                                           // seems a common datatables bug
        $('#{{ table_id }}').DataTable({
            {% if columns %}
            "columns": {{ columns|tojson }},
            {% endif %}
            "order": {{ order|tojson }},
            info: {{ info|tojson }}, // default true
            lengthChange: {{ length_change|tojson }},
            ordering: {{ ordering|tojson }},
            pageLength: {{ page_length|tojson }},
            paging: {{ paging|tojson }}, // default true
            pagingType:  "{{ paging_type }}", // default "simple_numbers"
            responsive: false, // default false
            searching: {{ searching|tojson }},
            stateSave: true, // default true
            language: { "url": "{{ url_for('static', filename='core/datatables/cs_CZ.json') }}",
             aria: {
                paginate: {
                    first:    'První',
                    previous: 'Předchozí',
                    next:     'Další',
                    last:     'Poslední'
                }
            }}
        });
    } );</script>
{% endmacro %}

{% macro highlight_active(route) %}
    {{ 'active bg-highlight rounded' if request.url_rule|safe == url_for(route) else '' }}
{% endmacro %}

{% macro highlight_active_pill(url) %}
    {{ 'active ' if request.path|safe == url else '' }}
{% endmacro %}

{% macro render_timestamp(datetime) %}
    {{ moment(datetime).format('D.M.YYYY HH:mm') }}
{%- endmacro %}
