{% extends "core/base.html" %}

{% block app_content %}
    <h1>
        Soukromí
    </h1>
    <p>
        Žádná z Vašich dat nejsou přeposílána ani přeprodávána třetím stranám. Během vývoje PAT byl kladen důraz na to,
        aby nic podobného nedělaly ani použité nástroje.
    </p>
    <p>
        Na bezpečnost a soukromí Vašich dat je kladen maximální důraz. Data jsou uložena v databázovém serveru PAT,
        se kterým je manipulováno jen za účelem vývoje a oprav chyb. Data jsou sdílena pouze s terapeuty/klienty,
        jimž toto dovolíte vstupem do terapeutického vztahu. Toto rozhodnutí zároveň můžete kdykoliv zrušit.
    </p>
    <p>
        Pokud máte podezření, že některé z použitých softwarových nástrojů sledování návštěvníků
        provozuje, kontaktujte nás prosím prostřednictvím
        <a href="{{ url_for('core.contact_user_support') }}"> tohoto formuláře.</a>
    </p>
    <h3>
        Smazání dat
    </h3>
    <p>
        Přejete-li si, je možné Vaše data z aplikace smazat. Toto můžete provést v sekci
        <a href="{{ url_for('account.edit_profile') }}">Upravit profil</a>,
        po přihlášení do PAT.
    </p>
{% endblock %}
