{% extends "core/base.html" %}

{% block app_content %}
    <h1>
        Informace pro terapeuty
    </h1>
    <ul class="nav nav-tabs" id="infoTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pat-tab" data-toggle="tab" href="#pat"
               role="tab" aria-controls="PAT" aria-selected="true">
                Počítačem asistovaná terapie
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tests-tab" data-toggle="tab" href="#tests"
               role="tab" aria-controls="tests" aria-selected="false">
                Použité dotazníky
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="planned_development-tab" data-toggle="tab" href="#planned_development"
               role="tab" aria-controls="planned development" aria-selected="false">
                Plánovaná rozšíření funkcí
            </a>
        </li>
    </ul>
    <div class="tab-content" id="infoTabContent">
        <div class="tab-pane fade show active responsive-tab" id="pat" role="tabpanel" aria-labelledby="pat-tab">
            <div class="card-header responsive-accord" role="tab" aria-expanded="false" aria-controls="PAT">
                <a href="#collapse-pat" data-toggle="collapse">
                    <h5 class="mb-0">
                        Počítačem asistovaná terapie
                    </h5>
                </a>
            </div>
            <div id="collapse-pat" class="collapse" role="tabpanel">
                <h3>
                    Princip
                </h3>
                <p>
                    Počítačem asistovaná terapie je relativně starý koncept - první aplikace vznikaly už v minulém
                    století. Její základní myšlenka je relativně jednoduchá - využití počítačového programu
                    pro usnadnění či vylepšení průběhu běžné psychoterapie.
                </p>
                <p>
                    Tyto programy mívají různou formu - např. některé fungují na principu videozáznamů, kterými se klientům
                    snaží předat nové mentální návyky na zvládání a prevenci depresivních stavů. Jiné využívají systému
                    online kurzů. Objevily se i pokusy o vytvoření terapeutického
                    <a href="https://cs.wikipedia.org/wiki/Chatbot">"chatbota"</a> (=program, který komunikuje s klientem
                    prostřednictvím chatu a snaží se poskytnout klientovi terapeutickou pomoc jako náhrada
                    za psychoterapeuta-člověka).
                </p>
                <p>
                    Programy počítačem asistované terapie se liší ještě v jedné klíčové vlastnosti - mírou, ve které
                    nahrazují či doplňují běžnou psychoterapii. Existují jak programy, které se snaží běžnou
                    terapii absolutně nahradit, tak programy, které záměrně slouží jen jako doplněk klasické psychoterapie
                    a jejich používání bez terapeutického dohledu není doporučeno.
                </p>
                <h3>
                    Úloha PAT v léčbě
                </h3>
                <p>
                    PAT je jednou z aplikací určených pro počítačem asistovanou terapii. Byla vyvinuta jako
                    doplňek psychoterapie - nesnaží se psychoterapii nahradit, jen ji vhodně doplnit, aby terapie
                    byla klientovi dostupná 24 hodin denně i mimo aktivní sezení u terapeuta. K jejímu použití stačí
                    připojení k internetu - použít se dá na počítači, tabletu i chytrém telefonu.
                </p>
                <p>
                    Vychází z principů kognitivně-behaviorální terapie a jejím cílem je terapii co nejvíce usnadnit,
                    a to jak pro klienty, tak pro terapeuty. Momentálně dostupnými funkcemi jsou tvorba a správa záznamů
                    automatických myšlenek, sledování vývoje terapie prostřednictvím CESD-R a možnost sdílení těchto
                    dat s vybraným terapeutem. Toto je v plánu dále rozšířit, více viz záložka 'Plánované rozšíření funkcí'.
                </p>
                <h4>
                    Záznamy automatických myšlenek
                </h4>
                <p>
                    Počítačové zpracování těchto záznamů usnadňuje organizaci a vyhledávání v těchto záznamech.
                    Hledání spouštěčů či vzorců v automatických myšlenkách klienta je tak snažší - např. identifikace,
                    v kterou denní dobu bývá deprese nejsilnější nebo jaké situace často spouští depresivní stavy.
                    Tyto záznamy navíc klient může sdílet v reálném čase - lze se tak snáze dopředu připravit na příští
                    sezení.
                </p>
                <p>
                    Jedním z dalších přínosů PAT je dostupnost. Klient má všechny své záznamy
                    na jednom místě a pro nový záznam stačí připojení k internetu na téměř libovolném zařízení.
                </p>
                <h4>
                    Průběžné sledování stavu
                </h4>
                <p>
                    Sledování vývoje stavu pomocí dotazníků může pomoci se sledováním, které metody jsou v terapii
                    účinné a které ne. Může tak pomoci s úpravou léčby a reflexí, jak terapie postupuje. Pod vlivem
                    depresivního onemocnění nejsou ojedinělé tendence zavrhovat pozitivní zkušenosti - mapování stavu
                    v tomto může pomoci jako pevný důkaz proti tomuto depresivnímu zkreslení.
                </p>
            </div>
        </div>
        <div class="tab-pane responsive-tab fade" id="tests" role="tabpanel" aria-labelledby="tests-tab">
            <div class="card-header responsive-accord" role="tab" aria-expanded="false" aria-controls="tests">
                <a href="#collapse-tests" data-toggle="collapse">
                    <h5 class="mb-0">
                        Použité dotazníky
                    </h5>
                </a>
            </div>
            <div id="collapse-tests" class="collapse" role="tabpanel">
                <h3>
                    Aktuální paleta testů
                </h3>
                <p>
                    Momentálně je dostupná pouze
                    <a href="https://cesd-r.com/">Škála deprevisity centra pro epidemiologické studie (CESD-R).</a>
                    Ač z psychologického hlediska není nutně nejvhodnější pro všechny potřeby,
                    je jako jedna z mála licencovaná jako volně dostupná.
                </p>
                <p>
                    CESD-R je krátká, sebeposuzovací škála o 20 položkách, zaměřená na depresivní symptomy.
                    Momentálně vyhodnocení v PAT probíhá jen podle hrubého skóru. Je však v plánu rozšíření
                    o podrobnější vyhodnocení, které je blíže popsáno
                    na <a href="https://cesd-r.com/cesdr/">informačních stránkách CESD-R.</a>
                </p>
                <h3>
                    Plány do budoucna
                </h3>
                <h4>
                    Rozšíření o další testy
                </h4>
                <p>
                    Do budoucna je plánováno rozšíření o další psychologické testy, o jejichž podporu bude zájem a které
                    budou mít adekvátní licenční model. Momentálně je v plánu rozšíření například
                    o <a href="https://www.coresystemtrust.org.uk/instruments/core-om-information/">CORE-OM</a>, jehož autoři
                    tento test za určitých podmínek předávají k využití v online softwaru.
                </p>
                <p>
                    Víte-li o testu, který se Vám pro PAT zdá vhodný a má takový licenční model, který umožňuje
                    užití v software, dejte nám prosím vědět prostřednictvím
                    <a href="{{ url_for('core.contact_user_support') }}">tohoto formuláře.</a>
                </p>
                <h4>
                    Dobrovolný sběr psychometrických dat
                </h4>
                <p>
                    Vzhledem k softwarové podstatě PAT se přirozeně nabízí otázka jejího případného využití
                    pro sběr psychometrických dat/validizaci psychometrických metod. Aktuálně se v PAT nic
                    takového neprovádí.
                </p>
                <p>
                    Máte-li zájem o takovou spolupráci, můžete nás kontaktovat prostřednictvím
                    <a href="{{ url_for('core.contact_user_support') }}">tohoto formuláře.</a>
                    Předem upozorňujeme, že takovýto sběr bude uskutečněn jen za splnění následujících podmínek:
                </p>
                <ul>
                    <li>test je nějakým způsobem přínosný pro klienty PAT</li>
                    <li>test bude pro klienta dostupný až po schválení terapeutem s ním propojeným</li>
                    <li>
                        sdílení dat bude pro klienty dobrovolné a tzv. "opt-in" - žádná data nebudou od klientů sbírána
                        bez jejich vědomého souhlasu. Souhlasem se rozumí zakliknutí a následné potvrzení tohoto nastavení.
                    </li>
                    <li>pseudonymizace veškerých dat</li>
                </ul>
            </div>
        </div>
        <div class="tab-pane responsive-tab fade" id="planned_development" role="tabpanel" aria-labelledby="planned_development-tab">
            <div class="card-header responsive-accord" role="tab" aria-expanded="false" aria-controls="planned_development">
                <a href="#collapse-planned_development" data-toggle="collapse">
                    <h5 class="mb-0">
                        Plánovaná rozšíření funkcí
                    </h5>
                </a>
            </div>
            <div id="collapse-planned_development" class="collapse" role="tabpanel">
                <h3>
                    Co je v plánu
                </h3>
                <p>
                    Způsobů, jakým by PAT v terapii mohla dále pomáhat, je mnoho. Zde je k dispozici výčet
                    několika dalších plánovaných funkcí. Plány nejsou definitivní a mohou se měnit
                    podle zpětné vazby od uživatelů.
                </p>
                <p>
                    Napadne-li Vás funkcionalita, kterou byste v PAT ocenili, dejte nám o ní prosím vědět
                    prostřednictvím <a href="{{ url_for('core.contact_user_support') }}">kontaktního formuláře.</a>
                </p>
                <p>
                    V plánu je např.
                </p>
                <ul>
                    <li>
                        podpora dalších typických domácích úkolů
                        <ul>
                            <li>
                                plánování a sledování činností
                            </li>
                            <li>
                                zápis dobrých věcí, co klient za den udělal/staly se
                            </li>
                            <li>
                                vzpomínkové reskripce
                            </li>
                        </ul>
                    </li>
                    <li>
                        notifikace v aplikaci - možnost pro klienty notifikovat vybraného terapeuta, že
                        splnili zadaný úkol
                    </li>
                    <li>
                        chat - aktuálně plánovaný pouze mezi klientem a s ním propojeným terapeutem; pokud by se podařila
                        navrhnout vhodná platforma pro svépomocné skupiny, bylo by možné rozšířit
                    </li>
                    <li>
                        možnost psát si záznamy ze sezení a zapisovat si naučené psychoterapeutické metody a nové návyky
                    </li>
                    <li>
                        poznámky
                        <ul>
                            <li>
                                prostor pro terapeuty pro psaní poznámek ke klientům, jejich výsledkům dotazníků a domácím úkolům
                            </li>
                            <li>
                                prostor pro klienty si psát poznámky k výsledkům dotazníků a domácím úkolům
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
