{% extends "core/base.html" %}

{% block app_content %}
    <h1>
        Informace
    </h1>
    <ul class="nav nav-tabs" id="infoTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="depression-tab" data-toggle="tab" href="#depression"
               role="tab" aria-controls="depression" aria-selected="true">
                Depresivní onemocnění
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="treatment-tab" data-toggle="tab" href="#treatment"
               role="tab" aria-controls="treatment" aria-selected="false">
                Léčba
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="finding_help-tab" data-toggle="tab" href="#finding_help"
               role="tab" aria-controls="finding help" aria-selected="false">
                Kde hledat pomoc
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="cat-tab" data-toggle="tab" href="#cat"
               role="tab" aria-controls="computer assisted therapy" aria-selected="false">
                Počítačem asistovaná terapie
            </a>
        </li>
    </ul>
    <div class="tab-content" id="infoTabContent">
        <div class="tab-pane fade show active responsive-tab" id="depression" role="tabpanel" aria-labelledby="depression-tab">
            <div class="card-header responsive-accord" role="tab" aria-expanded="false" aria-controls="depression">
                <a href="#collapse-depression" data-toggle="collapse">
                    <h5 class="mb-0">
                        Depresivní onemocnění
                    </h5>
                </a>
            </div>
            <div id="collapse-depression" class="collapse" role="tabpanel">
                <h3>
                    Projevy
                </h3>
                <p>
                    Depresivní onemocnění je relativně časté a může postihnout každého z nás. Projevuje se například
                    skleslou náladou, úbytkem energie, ztrátou nadějí, nebo ztrátou vůle něco dělat. Bývá narušený spánek,
                    obvykle dochází k útlumu kontaktu s ostatními lidmi a ztrátě potěšení z věcí, které dříve člověka
                    bavily.
                </p>
                <p>
                    Oproti klasické skleslé či smutné náladě, kterou občas zažíváme všichni, je depresivní onemocnění
                    intenzivnější a dlouhodobější. Depresivní onemocnění mění způsob uvažování, pocity i fungování
                    v každodenních činnostech.
                </p>
                <p>
                    Projevy depresivního onemocnění se nicméně u každého člověka mohou lišit. Ač si pod depresivním člověkem
                    obvykle představíme někoho dlouhodobě smutného a uzavřeného do sebe, někteří lidé mohou
                    např. být svými stavy natolik frustrovaní, že se tato frustrace nezáměrně projeví i v agresi
                    vůči blízkým osobám.
                </p>
                <p>
                    Nemocní se pak často setkávají s nepochopením ze strany ostatních: nezřídka se stává, že zdravému
                    člověku přijde, že se člověk v depresi jen "dostatečně nesnaží", že "stačí jen, aby se na věci díval
                    z lepší stránky" nebo že "se jen chce flákat". U nemocného však o nedostatek vůle či
                    disciplíny nejde - problém je komplikovanější a stejně tak léčba.
                </p>
                <h3>
                    Vznik depresivního onemocnění
                </h3>
                <p>
                    Do depresivních stavů se člověk může dostat bez vlastního přičinění. Ač ještě není s jistotou
                    vyřešena otázka, jak depresivní onemocnění vzniká, předpokládá se, že významnou roli
                    sehrává nejen osobnost jedince, ale i dědičnost a prostředí, v němž jedinec vyrůstal a v jakém žije.
                </p>
                <h3>
                    Jak poznám, že mám depresivní onemocnění?
                </h3>
                <p>
                    Depresivní onemocnění často zkresluje schopnost racionálního uvědomování a chápání
                    vlastního stavu. "Prokouknout" zda mám takové onemocnění je tedy relativně obtížné a bez
                    tréninku téměř nemožné.
                </p>
                <p>
                    Pokud pociťujete některé výše zmíněné symptomy a pokud tento stav přetrvává už alespoň dva týdny, zvažte
                    vyhledání odborné pomoci. Terapeut Vás vyslechne, určí diagnózu a pomůže Vám Váš stav vyřešit.
                    Napadají-li Vás i sebevražedné myšlenky, prosíme, vyhledejte odbornou pomoc,
                    co nejdříve. Můžete tak učinit např. <a href="{{ url_for('core.finding_help') }}">zde.</a>
                </p>
                <p>
                    Nebojte se toho, že byste psychoterapeuta navštívili a zjistilo by se, "že Vám nic nebylo". Péče
                    o duševní zdraví je důležitá a i zdravým lidem může sezení s terapeutem v něčem pomoci.
                </p>
                <h3>
                    Jak poznám, zda někdo blízký má depresivní onemocnění?
                </h3>
                <p>
                    Je možné, že jste v popisu výše poznali někoho blízkého. Odpovídají-li některé výše uvedené symptomy
                    a tento stav přetrvává už alespoň dva týdny, může se jednat o depresivní onemocnění.
                </p>
                <p>
                    Jedním z dalších projevů, kterých si nejsnáze všimneme (nemusí se však objevovat u všech případů depresivního
                    onemocnění), jsou nemalé chyby v úsudcích o vlastní osobě negativním směrem. Nemocný má např. tendenci
                    vidět svou osobu černobíle, zveličovat své neúspěchy nebo katastrofizovat důsledky svých činností.
                </p>
                <p>
                    Přesvědčit člověka s depresivním onemocněním o nutnosti léčby však nebývá snadné. Nevíte-li si rady,
                    můžete zkusit sezení s terapautem, který Vám pomůže Vaši konkrétní situaci vyřešit.
                </p>
            </div>
        </div>
        <div class="tab-pane responsive-tab fade" id="treatment" role="tabpanel" aria-labelledby="treatment-tab">
            <div class="card-header responsive-accord" role="tab" aria-expanded="false" aria-controls="treatment">
                <a href="#collapse-treatment" data-toggle="collapse">
                    <h5 class="mb-0">
                        Léčba
                    </h5>
                </a>
            </div>
            <div id="collapse-treatment" class="collapse" role="tabpanel">
                <h3>
                    Léčba
                </h3>
                <p>
                    Léčba depresivních onemocnění je obvykle relativně dlouhodobou záležitostí. Může trvat několik měsíců,
                    ale i několik let. Důležité je léčbu neuspěchat a ocenit už to, že se o ní nemocný jedinec snaží.
                </p>
                <p>
                    Nejčastějšími formami léčby bývají forma psychologická a forma farmakologická, častá bývá i jejich
                    kombinace - podstupování psychoterapie za současného užívání léků. V kombinované léčbě
                    léky zmírňují samotné příznaky onemocnění, které klientovi brání v běžném životě a komplikují
                    psychologickou léčbu. Psychoterapie pak těmto příznakům pomáhá rozumět, zvládat je a předcházet jim.
                    Psychoterapie také pomáhá pochopit, jak samotné onemocnění probíhá a pomáhá řešit další problémy
                    v životě klienta.
                </p>
                <h4>
                    Psychologická léčba
                </h4>
                <p>
                    V psychologické léčbě existuje mnoho přístupů a ne každý přístup a terapeut nutně sedne
                    každému klientovi. Obecně zhruba platí, že v rámci léčby se terapeut snaží klientovi
                    pomoci pochopit své onemocnění a naučit klienta způsobům, jak onemocnění zvládnout
                    a navrátit své fungování do normálu.
                </p>
                <p>
                    Stává se, že lidé s mentálním onemocněním mají tendenci se za svůj stav stydět a vyhledání
                    pomoci z tohoto důvodu odkládají nebo odmítají úplně. Tento stud je zcela nezasloužený -
                    je přeci zřejmé, že nemocný člověk se o toto onemocnění neprosil a sám by se ho nejraději zbavil,
                    kdyby mohl.
                </p>
                <h4>
                    Farmakologická léčba
                </h4>
                <p>
                    Při farmakologické léčbě specialista provede důkladnou diagnózu klienta, na základě níž určí
                    vhodnou medikaci a dávkování. Doporučené dávkování je nutné dodržovat.
                </p>
            </div>
        </div>

        <div class="tab-pane responsive-tab fade" id="finding_help" role="tabpanel" aria-labelledby="finding_help-tab">
            <div class="card-header responsive-accord" role="tab" aria-expanded="false" aria-controls="finding_help">
                <a href="#collapse-finding_help" data-toggle="collapse">
                    <h5 class="mb-0">
                        Kde hledat pomoc
                    </h5>
                </a>
            </div>
            <div id="collapse-finding_help" class="collapse" role="tabpanel">
                <h3>
                    Kde hledat pomoc
                </h3>
                <p>
                    Dobrým základem je vyhledání odborné terapie. Případy vyléčení samoléčbou jsou vzácné
                    a je zde riziko, že se stav nemocného zbytečně zhorší.
                </p>
                <p>
                    Nejpřímější cestou pak bývá svěření se svému praktickému lékaři se svými obtížemi. Ten Vám
                    pomůže posoudit Váš stav a případně napíše doporučení ke specialistovi.
                </p>
                <p>
                    Stává se, že se lidé bojí svému praktickému lékaři svěřit. Může to být z různých důvodů, například
                    může k lékaři docházet i rodina nemocného jedince a ten se bojí, aby se o jeho stavu zbytek rodiny
                    nedověděl. Někteří mají se svým praktickým lékařem špatné zkušenosti a nechtějí s ním
                    takto citlivé věci řešit. Pokud by toto pro Vás bylo překážkou, je možné přejít rovnou
                    k výběru a hledání psychoterapeuta.
                </p>
                <h4>
                    Psychoterapeut "na pojišťovnu" nebo soukromý psychoterapeut
                </h4>
                <p>
                    Jedním z kritérií, které je dobré při výběru zvážit, je zda psychoterapeut poskytuje léčbu
                    tzv. "na pojišťovnu" nebo zda pracuje jako soukromý psychoterapeut.
                </p>
                <p>
                    Výhodou psychoterapeuta "na pojišťovnu" je, že za léčbu nemusíte platit. Nevýhodou je, že jich
                    v krajích bývá nedostatek a i s urgentními potížemi můžete na sezení čekat více než půl roku.
                    Někteří pro objednání vyžadují doporučení od praktického lékaře.
                </p>
                <p>
                    Soukromí psychoterapeuté bývají dostupnější a na první sezení se tak dostanete dříve.
                    Obvyklá cena za jedno hodinové sezení bývá 400-700 korun. Doporučení od praktického lékaře obvykle
                    nevyžadují.
                </p>
                <h4>
                    Hledání psychoterapeuta
                </h4>
                <p>
                    Po zvážení předchozích bodů přichází samotné hledání. Pravděpodobně nejjednodušší je dnes
                    využití portálů jako je <a href="https://www.znamylekar.cz/">Známý lékař</a>. Můžete zde
                    vyfiltrovat psychoterapeuta podle místa ordinace a referencí ostatních klientů.
                </p>
                <p>
                    Hledáte-li akutní pomoc, nebo pokud máte pocit, že psychoterapeut pro Vás momentálně není nejvhodnější
                    volbou, můžeme dále doporučit podrobný seznam dalších forem pomoci od portálu
                    <a href="https://nevypustdusi.cz/kde-hledat-pomoc/">Nevypusť duši</a>.
                </p>
            </div>
        </div>
        <div class="tab-pane responsive-tab fade" id="cat" role="tabpanel" aria-labelledby="cat-tab">
            <div class="card-header responsive-accord" role="tab" aria-expanded="false" aria-controls="cat">
                <a href="#collapse-cat" data-toggle="collapse">
                    <h5 class="mb-0">
                        Počítačem asistovaná terapie
                    </h5>
                </a>
            </div>
            <div id="collapse-cat" class="collapse" role="tabpanel">
                <h3>
                    Princip
                </h3>
                <p>
                    Počítačem asistovaná terapie je relativně starý koncept - první aplikace vznikaly už v minulém
                    století. Její základní myšlenka je relativně jednoduchá - využití počítačového programu
                    pro usnadnění či vylepšení průběhu běžné psychoterapie.
                </p>
                <p>
                    Tyto programy mívají různou formu - např. některé fungují na principu videozáznamů, kterými se klientům
                    snaží předat nové mentální návyky na zvládání a prevenci depresivních stavů. Jiné využívají systému
                    online kurzů. Objevily se i pokusy o vytvoření terapeutického
                    <a href="https://cs.wikipedia.org/wiki/Chatbot">"chatbota"</a> (=program, který komunikuje s klientem
                    prostřednictvím chatu a snaží se poskytnout klientovi terapeutickou pomoc jako náhrada
                    za psychoterapeuta-člověka).
                </p>
                <p>
                    Programy počítačem asistované terapie se liší ještě v jedné klíčové vlastnosti - mírou, ve které
                    nahrazují či doplňují běžnou psychoterapii. Existují jak programy, které se snaží běžnou
                    terapii absolutně nahradit, tak programy, které záměrně slouží jen jako doplněk klasické psychoterapie
                    a jejich používání bez terapeutického dohledu není doporučeno.
                </p>
                <h3>
                    Úloha PAT v léčbě
                </h3>
                <p>
                    PAT je jednou z aplikací určených pro počítačem asistovanou terapii. Byla vyvinuta jako
                    doplňek psychoterapie - nesnaží se psychoterapii nahradit, jen ji vhodně doplnit, aby terapie
                    byla klientovi dostupná 24 hodin denně i mimo aktivní sezení u terapeuta. K jejímu použití stačí
                    připojení k internetu - použít se dá na počítači, tabletu i chytrém telefonu.
                </p>
                <p>
                    Vychází z principů kognitivně-behaviorální terapie. Ta mimo jiné klade důraz na to, aby klient na své léčbě
                    pracoval nejen během sezení u terapeuta, ale i co nejvíce v času mezi nimi, ve svém každodenním životě.
                    K tomu často používá formu domácích úkolů - terapeut se s klientem domluví na procvičování
                    aktivity, kterou klientovi během sezení představil a klient jí následně zkouší aplikovat
                    ve svém běžném životě.
                </p>
                <h4>
                    Automatické myšlenky a jejich záznamy
                </h4>
                <p>
                    Jedním z takových úkolů bývají například záznamy automatických myšlenek. Automatické myšlenky
                    míváme všichni. Jsou to myšlenky, které i zdravé jedince napadají naprosto běžně, jen si je většinou
                    ani neuvědomují. Objevují se např. v běžném proudu myšlení nebo jako reakce na nějakou událost.
                    U lidí s depresivním onemocnění však často zkreslují skutečnost a vzbuzují silnou emoční reakci -
                    může to být např. smutek, skleslost, frustrace, úzkost.
                </p>
                <p>
                    Příkladem může být situace, kdy nás v práci vedoucí zkritizuje za nedodělaný projekt. Depresivního
                    jedince pak můžou napadat automatické myšlenky typu "já to věděl, že jsem k ničemu", "ani jsem to
                    neměl zkoušet", "všechno, co zkusím, podělám" a spousta dalšího. Může se stát, že tyto automatické
                    myšlenky spustí další automatické myšlenky a člověk se pak "topí" v depresivní spirále. Tyto myšlenky
                    bude brát jako pravdivé a kritiku vedoucího si vezme jako důkaz pro svůj způsob uvažování,
                    který je zkreslen depresí.
                </p>
                <p>
                    Ač tyto myšlenky samozřejmě napadnou i zdravé lidi, obvykle nemají silný emoční náboj, během
                    pár vteřin odezní a nespustí žádnou depresivní spirálu. Je přítomno relativně racionální zhodnocení míry
                    schopností a viny jedince v nedodělaném projektu.
                </p>
                <p>
                    Depresivní onemocnění má tendenci taková a všechna další hodnocení každodenních činností
                    negativně zkreslovat. V tom pak pomáhají záznamy těchto myšlenek - klient se v terapii učí
                    tyto automatické myšlenky rozpoznat a pak je co nejracionálněji konfrontovat s realitou. Pomocí
                    záznamů pak může klient s terapeutem např. identifikovat, v kterou denní dobu bývá deprese nejsilnější
                    nebo jaké situace často spouští depresivní stavy. PAT se právě toto snaží usnadnit dostupností záznamů
                    a jednoduchou manipulací s nimi. Přímé sdílení těchto dat s terapeutem pak dále usnadňuje náhled
                    terapeuta do jedinečné situace a stavu klienta.
                </p>
                <h5>
                    Možné obtíže
                </h5>
                <p>
                    Může se stát, že po záznamu myšlenky se budete cítit hůř. Pokud Vám dělají diskomfort po pro Vás
                    nepříjemmnou dobu, doporučujeme toto probrat na příštím sezení s terapeutem.
                </p>
                <h4>
                    Průběžné sledování stavu
                </h4>
                <p>
                    Sledování vývoje stavu pomocí dotazníků může pomoci se sledováním, které metody jsou v terapii
                    účinné a které ne. Může tak pomoci s úpravou léčby a reflexí, jak terapie postupuje. Pod vlivem
                    depresivního onemocnění nejsou ojedinělé tendence zavrhovat pozitivní zkušenosti - mapování stavu
                    v tomto může pomoci jako pevný důkaz proti tomuto depresivnímu zkreslení.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
