{% extends "core/base.html" %}

{% block app_content %}
<h1>
    Úvod pro terapeuty
</h1>
<div class="row">
    <div class="col-md">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
                PAT mi byla doporučena a chtěl/-a bych se dozvědět více
            </h5>
            <p>
                Můžete začít naší informační brožurkou pro nové terapeuty.
                Dozvíte se o principech počítačem asistované terapie, směřování aplikace PAT
                a užitých nástrojích a testech.
            </p>
            <p>
                Případně se můžete rovnou registrovat a ozkoušet funkce PAT napřímo.
            </p>
            <div class="row justify-content-center">
                <a href="{{ url_for('core.psychological_background') }}" class="btn btn-secondary mx-auto">
                    Informace pro terapeuty</a>
                <a href="{{ url_for('account.register_therapist') }}" class="btn btn-primary mx-auto">
                    Registrovat se</a>
            </div>
          </div>
        </div>
    </div>
    <div class="col-md">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
                Jsem již s PAT seznámen/-a a chtěl/-a bych ji začít využívat
            </h5>
            <p>
                Začněte s registrací zde:
            </p>
            <div class="row justify-content-center">
                <a href="{{ url_for('account.register_therapist') }}" class="btn btn-primary mx-auto">
                    Registrovat se</a>
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock %}
