{% extends "core/base.html" %}
{% from "bootstrap/form.html" import render_field %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet"
      href="{{ url_for('static', filename='tests/radio_test_form.css') }}">
{% endblock %}

{% block app_content %}
    <h1>{{ test.client_label }}</h1>
    <p>{{ test.client_instructions }}</p>
    <hr>
    <!-- For reasons unknown, render_form fails to display error messages in RadioFields.
    Following is a simple reimplementation. The included css file is a part of the fix.-->
    <div class="row">
        <div class="col-md-4">
            <form action="" method="post" class="form">
                {{ form.hidden_tag() }}
                {% for field in form %}
                    {% if not bootstrap_is_hidden_field(field) %}
                        {{ render_field(field) }}
                        {% for error in field.errors %}
                            <span class="invalid-feedback">{{ error }}</span>
                            <br>
                        {% endfor %}
                        <hr>
                    {% endif %}
                 {% endfor %}
            </form>
        </div>
    </div>
{% endblock %}
