{% from 'email_templates/styles.html' import a_style, a_style_as_button, h1_style, p_style %}
<p style="{{ p_style }}">
    S přáním hezkého dne, <br>
    <strong>Uživatelská podpora PAT</strong>
</p>
<p style="{{ p_style }}">
    <a href="{{ url_for('core.index', _external=True) }}" rel="noopener"
       style="{{ a_style }}" target="_blank">
        {{ url_for('core.index', _external=True) }}</a>
</p>
