{% from 'email_templates/styles.html' import p_style %}

{% macro reason(requested_string, forgotten_string, forgotten) %}
    {%- if not forgotten -%}
    {{ requested_string }}
    {%- else -%}
    {{ forgotten_string }}
    {%- endif -%}
{% endmacro %}

{% macro render_message(message, p_style=p_style) %}
    {# Converts line breaks from string message to html #}
    <p style="{{ p_style }}">
        """<br>
        {% set message_paragraphs = message.split('\n') %}
        {% for paragraph in message_paragraphs %}
            {{ paragraph }}<br>
        {% endfor %}
        """
    </p>
{% endmacro %}
